Cloudera_Watsonx_Flow.json
{"flowContents":{"identifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","instanceIdentifier":"0e9e050f-0190-1000-0000-0000358fd95c","name":"Cloudera_Watsonx_Flow","comments":"","position":{"x":352.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fc256bac-7bac-353d-bc7e-192550091073","instanceIdentifier":"693f2ab9-3981-38a3-b742-6bf87676650c","name":"GenerateFlowFile","comments":"","position":{"x":1392.0,"y":48.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\"grant_type\":\"grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=aoopT5yVxVAu6YCkRXqM3ubDXM3HzJh2lDvzDuaR2VqG\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"bc1b1a35-caa4-3551-a1de-e225bc836ae8","instanceIdentifier":"8b477387-83f0-3407-9ee2-9c6a90aff2f0","name":"UpdateAttribute","comments":"","position":{"x":-496.0,"y":760.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringAfterLast('/')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Mime Type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"a415324c-7acf-38be-a8d7-e5be0c08ea22","instanceIdentifier":"97cb14f6-ed39-3779-9fdc-0df3e6e06b5f","name":"PutS3Object","comments":"","position":{"x":584.0,"y":2072.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{s3_access_key}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{s3_secret_access_key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"#{s3_output_path}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3_bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","instanceIdentifier":"9c07e7f2-6ca2-383c-af4e-b92750c97f84","name":"InvokeHTTP-Summary","comments":"","position":{"x":-64.0,"y":1360.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"60 secs","send-message-body":"true","Authorization":"Bearer #{watsonx_bearer_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{watsonx_model_url}","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"927a6f7d-75ac-3767-8712-ffdae55c5eaf","instanceIdentifier":"29dbd99e-3263-36ec-a7e4-5c94abb0fb36","name":"ReplaceText-Body-Email","comments":"","position":{"x":384.0,"y":1160.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"model_id\": \"ibm/granite-13b-instruct-v2\",\n  \"input\": \"${inputs}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 400,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"0ead8ec4-d137-4f9c-8956-50b0da4a7068\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"b9dea2d8-247b-3fb7-af59-bf14bb4c1ca5","instanceIdentifier":"80cff071-5006-3ae4-92be-018ffc190f20","name":"UpdateAttribute","comments":"","position":{"x":384.0,"y":760.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringAfterLast('/')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Mime Type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"6939922e-8c8e-3330-9c2d-d1059b73cd55","instanceIdentifier":"a875cf39-f6fb-3f4d-b330-d47c8656dd0a","name":"ReplaceText","comments":"","position":{"x":-64.0,"y":384.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"\n","Replacement Value":"\\\\\\\\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"5303cb5e-e45f-3f1a-bad7-764f5a91a37a","instanceIdentifier":"41c0baf8-5928-3f9d-936f-9d0b30e16f21","name":"ReplaceText","comments":"","position":{"x":384.0,"y":384.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"\n","Replacement Value":"\\\\\\\\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"28a11696-2801-35db-aae0-e0a80b343163","instanceIdentifier":"62884681-5218-3fe7-a65c-bb6cb3cfaea2","name":"PutEmail","comments":"","position":{"x":1024.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"${generated_text}","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"demos@buildlab.cloud","Include All Attributes In Message":"false","SMTP Hostname":"smtp.sendgrid.net","Subject":"Thank you for submitting the claim","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"apikey","To":"angupta@cloudera.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"6de39292-2ee9-39b1-bffa-7c96d08d8fe7","instanceIdentifier":"396b7a9f-8e7f-3d67-9168-acbc6dd6080c","name":"ReplaceText","comments":"","position":{"x":-496.0,"y":576.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":"{\"inputs\":\"","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\"}"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"20b0d3b3-b52f-39b6-ba27-96225159e843","instanceIdentifier":"daec8ab6-95de-3f07-ad89-be8a4f075985","name":"InvokeHTTP-Extract","comments":"","position":{"x":-496.0,"y":1360.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"60 secs","send-message-body":"true","Authorization":"Bearer #{watsonx_bearer_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{watsonx_model_url}","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"9cc9283d-c8ef-3887-9361-f868d8d7bcb1","instanceIdentifier":"fb7fec5b-dccc-3ad5-8507-c35457a41e2f","name":"InvokeHTTP-Email","comments":"","position":{"x":384.0,"y":1360.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"60 secs","send-message-body":"true","Authorization":"Bearer #{watsonx_bearer_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{watsonx_model_url}","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"12536db1-8203-3e54-87e1-fb809887c50c","instanceIdentifier":"a0e2bcc6-91e5-39ab-b5b1-14c960fa7a61","name":"ReplaceText-Summary","comments":"","position":{"x":-64.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"You are an insurance claim processor. Read the following letter from an insurance customer and extract the requestor name, the requestor email, the date of the request, the policy number, the insurance plan name, and the reimbursement amount. Format the output as shown in the example.\n\nExample Input:\n$1\n\nExample Output:\nname: Mike Hawthorne\nemail: hawm1234@gmail.com\ndate: September 28, 2023\npolicy number: 175032218\ninsurance plan name: SpecialDentalPlus\nreimbursement amount: $540.25\n\nInput:\n\n\nOutput:","Evaluation Mode":"Entire text","Text to Prepend":"You are an insurance claim analyst. Read the following request letter from an insurance customer and generate a summary including what is provided by the customer as justification for the insurance company to pay the request. Include the provider name and any other relevant facts in the summary. Do not make a statement about what the insurance company will do in the summary.\n\nInput:\n","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\nOutput:\n"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","instanceIdentifier":"612ef041-1df4-398b-a5e1-21baab83224b","name":"EvaluateJsonPath","comments":"","position":{"x":1392.0,"y":624.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"access_token":"$.access_token","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"access_token":{"name":"access_token","displayName":"access_token","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"ae7bb439-80f9-3f0d-a708-d5df667a41a8","instanceIdentifier":"b13cad2d-2e43-3f9a-863f-c2ed0622fd9e","name":"ReplaceText","comments":"","position":{"x":1392.0,"y":232.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=aoopT5yVxVAu6YCkRXqM3ubDXM3HzJh2lDvzDuaR2VqG","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"b5bd8ed2-4408-335d-a6f1-a80a860bbbd3","instanceIdentifier":"f7ba7e11-adbc-32dd-9298-01fb4f712b7a","name":"UpdateAttribute","comments":"","position":{"x":384.0,"y":1784.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:prepend('Email_')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"8febe063-39d4-3caa-9ca0-0808ec0b03ee","instanceIdentifier":"a9042b3f-d87e-3a22-b5e0-3497026eb143","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","created_at":"$.created_at","Null Value Representation":"empty string","model_id":"$.model_id","generated_token_count":"$.results[0].generated_token_count","generated_text":"$.results[0].generated_text","Path Not Found Behavior":"ignore","input_token_count":"$.results[0].input_token_count"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"created_at":{"name":"created_at","displayName":"created_at","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"model_id":{"name":"model_id","displayName":"model_id","identifiesControllerService":false,"sensitive":false},"generated_token_count":{"name":"generated_token_count","displayName":"generated_token_count","identifiesControllerService":false,"sensitive":false},"generated_text":{"name":"generated_text","displayName":"generated_text","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"input_token_count":{"name":"input_token_count","displayName":"input_token_count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","instanceIdentifier":"80db9deb-2958-3b64-803a-347f54f5463b","name":"FetchS3-Claims","comments":"","position":{"x":-64.0,"y":-8.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{s3_access_key}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-east-2","Secret Key":"#{s3_secret_access_key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"59bcb59e-7b20-3fcc-9056-b77e4c5218f0","instanceIdentifier":"465af7b3-facf-3a6a-9587-2eb606d436f2","name":"ReplaceText-Email","comments":"","position":{"x":384.0,"y":176.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"You are an insurance claim processor. Read the following letter from an insurance customer and extract the requestor name, the requestor email, the date of the request, the policy number, the insurance plan name, and the reimbursement amount. Format the output as shown in the example.\n\nExample Input:\n$1\n\nExample Output:\nname: Mike Hawthorne\nemail: hawm1234@gmail.com\ndate: September 28, 2023\npolicy number: 175032218\ninsurance plan name: SpecialDentalPlus\nreimbursement amount: $540.25\n\nInput:\n\n\nOutput:","Evaluation Mode":"Entire text","Text to Prepend":"You are an insurance claim processor. Your company policy is to send a response claim in 5 business days. Read the input request letter from an insurance customer. Generate a email acknowledgement of the request following the provided example input and output.\n\nExample Input:\nInsurance Claim Letter for Reimbursement \nFrom: __Mike Hawthorne_________ \nSender's Name  \n____1234 Main Street____________ \n_________________________________ \nSender's Address \n____Los Angeles, CA 90045_________  \nCity, State, ZIP Code \n____hawm1234@gmail.com_________  \nSender's email To:____UltraCo Insurance________ \nRecipient's Name \n_______2093 Lakewood Drive______ \n_________________________________ \nRecipient's Address \n______Sayreville, NJ 08872________ \nCity, State, ZIP Code \n \n____September 21, 2023_____________\n                           Date\nTo Whom It May Concern, \nMy name is __Mike Hawthorne_______ and I have an active medical insurance policy with your company. The policy number is _175032218_______. I am writing this letter to claim reimbursement for two fillings from Stanley Smith, DDS., who is an in-network provider for UltraCo Insurance. \nEnclosed with this letter are the following supporting documents for your reference and review: \nThe original bill for $540.25 and a copy of the UltraCo website page that lists Stanley Smith, DDS. as an in-network provider in the SpecialDentalPlus plan.\nAccording to section __13.1__ of the policy, I am entitled to __80__% reimbursement. Kindly acknowledge the receiving of this claim and advise whether I have to fill some form or whether you require other documents to complete the claim request. \nLooking forward to your response and cooperation.  \n \nSincerely, \n__Mike Hawthorne_______________ \nSender's Name \n__Mike Hawthorne__________________ \nSender's Signature \n\nExample Output:\nDear Mike Hawthorne,\nThank you for your recent letter dated September 28, 2023 regarding your insurance claim reimbursement for two fillings from Stanley Smith, DDS. We acknowledge receipt of your claim and supporting documents.\n\nWe will review your claim and process it according to our policy guidelines. Please allow 5 business days for us to complete the review process. You will receive a response from us with the outcome of your claim and any further instructions, if necessary.\n\nThank you for your patience and cooperation.\n\nSincerely,\nFredrick S. Forest\nInsurance Claim Processor\nUltraCo Insurance\n\nInput:\n","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\nOutput:\n"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"028f72f0-3df1-33dd-b511-332ba758b6a5","instanceIdentifier":"6fc96697-e55c-354e-8e59-008609770e04","name":"InvokeHTTP","comments":"","position":{"x":1392.0,"y":424.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"30 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://iam.cloud.ibm.com/identity/token","form-body-form-name":null,"Content-Type":"application/x-www-form-urlencoded","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"False","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"18566d56-203e-306f-8ca6-5747c8090be1","instanceIdentifier":"25b2bf4e-9ada-3000-accc-f8bd59cbd33b","name":"ListS3-Claims","comments":"","position":{"x":-64.0,"y":-200.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Proxy Host":null,"list-type":"2","et-initial-listing-target":"all","Access Key":"#{s3_access_key}","prefix":"#{s3_input_path}","record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{s3_secret_access_key}","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{s3_bucket}","Communications Timeout":"30 secs","Region":"us-east-2","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"d8c481d8-07d4-3a1c-8904-aff7be47ade4","instanceIdentifier":"12c7b2cc-4f8e-3559-a639-a04817fe6c02","name":"ReplaceText-Extract","comments":"","position":{"x":-496.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"You are an insurance claim processor. Read the following letter from an insurance customer and extract the requestor name, the requestor email, the date of the request, the policy number, the insurance plan name, and the reimbursement amount. Format the output as shown in the example.\n\nExample Input:\n$1\n\nExample Output:\nname: Mike Hawthorne\nemail: hawm1234@gmail.com\ndate: September 28, 2023\npolicy number: 175032218\ninsurance plan name: SpecialDentalPlus\nreimbursement amount: $540.25\n\nInput:\n\n\nOutput:","Evaluation Mode":"Entire text","Text to Prepend":"You are an insurance claim processor. Read the following letter from an insurance customer and extract the requestor name, the requestor email, the date of the request, the policy number, the insurance plan name, and the reimbursement amount. Format the output as shown in the example.\n\nExample Input:\nInsurance Claim Letter for Reimbursement\nFrom: __Mike Hawthorne_________ Senders Name\n____1234 Main Street____________\n_________________________________ Senders Address\n____Los Angeles, CA 90045_________ City, State, ZIP Code\n____hawm1234@gmail.com_________ Senders email\n____September 21, 2023_____________ Date\nTo Whom It May Concern,\nTo:____UltraCo Insurance________ Recipients Name\n_______2093 Lakewood Drive______\n_________________________________ Recipients Address\n______Sayreville, NJ 08872________ City, State, ZIP Code\nMy name is __Mike Hawthorne_______ and I have an active medical insurance policy with your company. The policy number is _175032218_______. I am writing this letter to claim reimbursement for two fillings from Stanley Smith, DDS., who is an in-network provider for UltraCo Insurance.\nEnclosed with this letter are the following supporting documents for your reference and review:\nThe original bill for $540.25 and a copy of the UltraCo website page that lists Stanley Smith, DDS. as an in-network provider in the SpecialDentalPlus plan.\nAccording to section __13.1__ of the policy, I am entitled to __80__% reimbursement. Kindly acknowledge the receiving of this claim and advise whether I have to fill some form or whether you require other documents to complete the claim request.\nLooking forward to your response and cooperation.\nSincerely,\n__Mike Hawthorne_______________ Senders Name\n__Mike Hawthorne__________________ Senders Signature\n\nExample Output:\nname: Mike Hawthorne\nemail: hawm1234@gmail.com\ndate: September 28, 2023\npolicy number: 175032218\ninsurance plan name: SpecialDentalPlus\nreimbursement amount: $540.25\n\nInput:\n","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\nOutput:\n"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"c820eb4a-b4cd-30b6-8507-6b912d26541e","instanceIdentifier":"b5d9ade9-284d-389e-9f43-be081254c3a2","name":"EvaluateJsonPath","comments":"","position":{"x":-496.0,"y":960.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","inputs":"$.inputs","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"a62cbd37-3e81-39a2-97ed-d0e7c55f4aac","instanceIdentifier":"dd036027-a317-3c4c-975d-6c0782ef8124","name":"ReplaceText-Body-Summary","comments":"","position":{"x":-64.0,"y":1160.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"model_id\": \"ibm/granite-13b-chat-v2\",\n  \"input\": \"${inputs}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 200,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"0ead8ec4-d137-4f9c-8956-50b0da4a7068\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"17cb1cb9-8a16-34df-b561-f51f589dab43","instanceIdentifier":"e295e2e3-2c5e-3bd4-b1be-93e8fb9cd208","name":"ReplaceText","comments":"","position":{"x":-64.0,"y":576.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":"{\"inputs\":\"","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\"}"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","instanceIdentifier":"eeabfce0-bb78-3099-9d91-cc0b4a2da76e","name":"AttributesToJSON","comments":"","position":{"x":-64.0,"y":2072.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"model_id, created_at, generated_text, generated_token_count, input_token_count, filename, inputs, invokehttp.request.url, s3.bucket","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"3489d5f0-8546-3b40-8847-e57f0744adc5","instanceIdentifier":"e9f7ff92-ec6a-32af-96c8-fdefe97e28d2","name":"UpdateAttribute","comments":"","position":{"x":-496.0,"y":1784.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:prepend('Extract_')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","instanceIdentifier":"64cbe036-1cbd-345c-b297-bf1b0e586349","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":960.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","inputs":"$.inputs","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"eb4ac003-c28e-3d0d-9a32-cc60ee7adb1b","instanceIdentifier":"c7509212-540b-3e87-ac64-6c7ae962060e","name":"EvaluateJsonPath","comments":"","position":{"x":384.0,"y":960.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","inputs":"$.inputs","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"e6ba766b-f573-347d-9e3f-7e8ad384a53e","instanceIdentifier":"b10c54bd-3cc6-3424-b85f-b5c17133d41d","name":"EvaluateJsonPath","comments":"","position":{"x":384.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","created_at":"$.created_at","Null Value Representation":"empty string","model_id":"$.model_id","generated_token_count":"$.results[0].generated_token_count","generated_text":"$.results[0].generated_text","Path Not Found Behavior":"ignore","input_token_count":"$.results[0].input_token_count"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"created_at":{"name":"created_at","displayName":"created_at","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"model_id":{"name":"model_id","displayName":"model_id","identifiesControllerService":false,"sensitive":false},"generated_token_count":{"name":"generated_token_count","displayName":"generated_token_count","identifiesControllerService":false,"sensitive":false},"generated_text":{"name":"generated_text","displayName":"generated_text","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"input_token_count":{"name":"input_token_count","displayName":"input_token_count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"184aed51-ca62-3511-991e-a7c9da3b7408","instanceIdentifier":"8f33b099-3681-3921-8b1f-a37c031d4010","name":"UpdateAttribute","comments":"","position":{"x":-64.0,"y":1784.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:prepend('Summary_')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"719e931f-2324-31e0-8add-820cbf45ea52","instanceIdentifier":"14a831d6-23d3-30b4-991d-db331ae267d7","name":"EvaluateJsonPath","comments":"","position":{"x":-496.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","created_at":"$.created_at","Null Value Representation":"empty string","model_id":"$.model_id","generated_token_count":"$.results[0].generated_token_count","generated_text":"$.results[0].generated_text","Path Not Found Behavior":"ignore","input_token_count":"$.results[0].input_token_count"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"created_at":{"name":"created_at","displayName":"created_at","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"model_id":{"name":"model_id","displayName":"model_id","identifiesControllerService":false,"sensitive":false},"generated_token_count":{"name":"generated_token_count","displayName":"generated_token_count","identifiesControllerService":false,"sensitive":false},"generated_text":{"name":"generated_text","displayName":"generated_text","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"input_token_count":{"name":"input_token_count","displayName":"input_token_count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"05d76367-8ccb-3516-a756-0a48d56faa71","instanceIdentifier":"e4753cd8-209c-3c88-94b7-48511527db37","name":"ReplaceText","comments":"","position":{"x":384.0,"y":576.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":"{\"inputs\":\"","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\"}"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"8bac4cc8-1ab9-30ce-8046-5e28ddec44c3","instanceIdentifier":"c63f1736-72b6-3990-ac43-46c25718c042","name":"ReplaceText-Body-Extract","comments":"","position":{"x":-496.0,"y":1160.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"model_id\": \"ibm/granite-13b-instruct-v2\",\n  \"input\": \"${inputs}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 200,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"0ead8ec4-d137-4f9c-8956-50b0da4a7068\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"689b5ce1-7bc6-3f21-81db-59a201db0597","instanceIdentifier":"70aaed9a-e51f-346b-83dd-e95e0cd54359","name":"UpdateAttribute","comments":"","position":{"x":-64.0,"y":760.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringAfterLast('/')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Mime Type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"ffed4ea4-09fd-3cd9-8fd8-4629b8113e04","instanceIdentifier":"add7188d-0fd8-31f0-820a-cc345d748af8","name":"ReplaceText","comments":"","position":{"x":-496.0,"y":384.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0.2.3.12.2-1"},"properties":{"Regular Expression":"\n","Replacement Value":"\\\\\\\\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"979c3af7-97bc-39ba-9939-e3eb6724d389","instanceIdentifier":"4c153a8d-c55a-3ad7-9164-af8a317118d1","name":"","source":{"id":"bc1b1a35-caa4-3551-a1de-e225bc836ae8","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"8b477387-83f0-3407-9ee2-9c6a90aff2f0"},"destination":{"id":"c820eb4a-b4cd-30b6-8507-6b912d26541e","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b5d9ade9-284d-389e-9f43-be081254c3a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"9271ed9b-d847-3aa6-b431-993581b51cd6","instanceIdentifier":"fc775d15-5743-3c9f-a4fc-a7018d64d48d","name":"","source":{"id":"184aed51-ca62-3511-991e-a7c9da3b7408","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"8f33b099-3681-3921-8b1f-a37c031d4010"},"destination":{"id":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"AttributesToJSON","comments":"","instanceIdentifier":"eeabfce0-bb78-3099-9d91-cc0b4a2da76e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"a1efed84-4b9f-38fb-8426-cf76c02f735c","instanceIdentifier":"b718f058-a3c1-34bc-8e18-5b13f286d724","name":"","source":{"id":"05d76367-8ccb-3516-a756-0a48d56faa71","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"e4753cd8-209c-3c88-94b7-48511527db37"},"destination":{"id":"b9dea2d8-247b-3fb7-af59-bf14bb4c1ca5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"80cff071-5006-3ae4-92be-018ffc190f20"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"9a23c6e9-7d51-34e0-88e4-716f5f2eb4a6","instanceIdentifier":"0ef3cbcb-fb47-3f73-963e-493a9d0f0f91","name":"","source":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"FetchS3-Claims","comments":"","instanceIdentifier":"80db9deb-2958-3b64-803a-347f54f5463b"},"destination":{"id":"59bcb59e-7b20-3fcc-9056-b77e4c5218f0","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Email","comments":"","instanceIdentifier":"465af7b3-facf-3a6a-9587-2eb606d436f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"7cea2a10-3123-3d14-87ac-d177608b6570","instanceIdentifier":"229a12c6-859a-3468-aa50-84f41fb7ed2e","name":"","source":{"id":"9cc9283d-c8ef-3887-9361-f868d8d7bcb1","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Email","comments":"","instanceIdentifier":"fb7fec5b-dccc-3ad5-8507-c35457a41e2f"},"destination":{"id":"4825da54-788c-3faa-8b96-d61209a01fe6","type":"FUNNEL","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"Funnel","comments":"","instanceIdentifier":"54762223-30b3-3c4e-aff4-5c858339f9c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"027a77fe-3383-3fa9-9e1c-46e0f30f2425","instanceIdentifier":"eb9112fb-98ef-3d90-a2cc-9e278f86a8b7","name":"","source":{"id":"eb4ac003-c28e-3d0d-9a32-cc60ee7adb1b","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c7509212-540b-3e87-ac64-6c7ae962060e"},"destination":{"id":"927a6f7d-75ac-3767-8712-ffdae55c5eaf","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Body-Email","comments":"","instanceIdentifier":"29dbd99e-3263-36ec-a7e4-5c94abb0fb36"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"a17d1996-ec7f-33e1-82bd-5c3cf50a99b0","instanceIdentifier":"d8e4ea1b-9a75-33cc-93e4-1a2f10b24941","name":"","source":{"id":"17cb1cb9-8a16-34df-b561-f51f589dab43","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"e295e2e3-2c5e-3bd4-b1be-93e8fb9cd208"},"destination":{"id":"689b5ce1-7bc6-3f21-81db-59a201db0597","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"70aaed9a-e51f-346b-83dd-e95e0cd54359"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"4347e70b-280b-38e6-be68-9a505ca514c7","instanceIdentifier":"c545b8d6-0a9b-3f72-8802-c9500348b47b","name":"","source":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"FetchS3-Claims","comments":"","instanceIdentifier":"80db9deb-2958-3b64-803a-347f54f5463b"},"destination":{"id":"12536db1-8203-3e54-87e1-fb809887c50c","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Summary","comments":"","instanceIdentifier":"a0e2bcc6-91e5-39ab-b5b1-14c960fa7a61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"f609e8b4-bbec-3392-8030-81ba99b33520","instanceIdentifier":"c801ad7f-fc2e-34d5-8102-7189e812f5d9","name":"","source":{"id":"d8c481d8-07d4-3a1c-8904-aff7be47ade4","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Extract","comments":"","instanceIdentifier":"12c7b2cc-4f8e-3559-a639-a04817fe6c02"},"destination":{"id":"ffed4ea4-09fd-3cd9-8fd8-4629b8113e04","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"add7188d-0fd8-31f0-820a-cc345d748af8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"0e42c40e-11e1-363e-84d5-ff9b94fab719","instanceIdentifier":"e7426680-f838-3b0f-a65c-df3b302b2bd9","name":"","source":{"id":"8bac4cc8-1ab9-30ce-8046-5e28ddec44c3","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Body-Extract","comments":"","instanceIdentifier":"c63f1736-72b6-3990-ac43-46c25718c042"},"destination":{"id":"20b0d3b3-b52f-39b6-ba27-96225159e843","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Extract","comments":"","instanceIdentifier":"daec8ab6-95de-3f07-ad89-be8a4f075985"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"47fc8674-9250-3bed-a47e-6392473ac29c","instanceIdentifier":"db52fada-5ab7-3250-a947-c063f9be2746","name":"","source":{"id":"028f72f0-3df1-33dd-b511-332ba758b6a5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP","comments":"","instanceIdentifier":"6fc96697-e55c-354e-8e59-008609770e04"},"destination":{"id":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"612ef041-1df4-398b-a5e1-21baab83224b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"97d9aea8-701c-3180-b393-aa49a1868ce9","instanceIdentifier":"9636ad4e-ee7c-3df7-9bb2-56d7988f39f0","name":"","source":{"id":"12536db1-8203-3e54-87e1-fb809887c50c","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Summary","comments":"","instanceIdentifier":"a0e2bcc6-91e5-39ab-b5b1-14c960fa7a61"},"destination":{"id":"6939922e-8c8e-3330-9c2d-d1059b73cd55","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"a875cf39-f6fb-3f4d-b330-d47c8656dd0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"d0b471ec-63f1-31ae-a3d0-6b69eeebb3ef","instanceIdentifier":"32613fb7-86d7-3053-b0ea-06f5f2d32be5","name":"","source":{"id":"9cc9283d-c8ef-3887-9361-f868d8d7bcb1","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Email","comments":"","instanceIdentifier":"fb7fec5b-dccc-3ad5-8507-c35457a41e2f"},"destination":{"id":"e6ba766b-f573-347d-9e3f-7e8ad384a53e","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b10c54bd-3cc6-3424-b85f-b5c17133d41d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"3c5d69c3-baae-3005-80c3-455a84ac2660","instanceIdentifier":"9bf708b3-9d46-3462-acbe-fc83ef75bf3f","name":"","source":{"id":"927a6f7d-75ac-3767-8712-ffdae55c5eaf","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Body-Email","comments":"","instanceIdentifier":"29dbd99e-3263-36ec-a7e4-5c94abb0fb36"},"destination":{"id":"9cc9283d-c8ef-3887-9361-f868d8d7bcb1","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Email","comments":"","instanceIdentifier":"fb7fec5b-dccc-3ad5-8507-c35457a41e2f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"d847d58e-4f09-3b12-829f-1ff5c9c0d2b3","instanceIdentifier":"b4903fd8-948e-3097-add0-8706436d6d95","name":"","source":{"id":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"64cbe036-1cbd-345c-b297-bf1b0e586349"},"destination":{"id":"a62cbd37-3e81-39a2-97ed-d0e7c55f4aac","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Body-Summary","comments":"","instanceIdentifier":"dd036027-a317-3c4c-975d-6c0782ef8124"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"3b2123cf-18a6-3d13-91fc-1b66bfbee001","instanceIdentifier":"fcd41a4c-44fd-365d-835b-bc8e0647d7b3","name":"","source":{"id":"b5bd8ed2-4408-335d-a6f1-a80a860bbbd3","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"f7ba7e11-adbc-32dd-9298-01fb4f712b7a"},"destination":{"id":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"AttributesToJSON","comments":"","instanceIdentifier":"eeabfce0-bb78-3099-9d91-cc0b4a2da76e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"ead17128-4756-3993-9f98-a9b865a17016","instanceIdentifier":"7f461c3b-8ea0-3a23-b50a-47d6a08027df","name":"","source":{"id":"20b0d3b3-b52f-39b6-ba27-96225159e843","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Extract","comments":"","instanceIdentifier":"daec8ab6-95de-3f07-ad89-be8a4f075985"},"destination":{"id":"719e931f-2324-31e0-8add-820cbf45ea52","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"14a831d6-23d3-30b4-991d-db331ae267d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"f202737e-231b-3dc5-a7c8-da960ffd8c26","instanceIdentifier":"9fe5db71-0fa1-37f1-928d-e4a27c21d790","name":"","source":{"id":"ffed4ea4-09fd-3cd9-8fd8-4629b8113e04","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"add7188d-0fd8-31f0-820a-cc345d748af8"},"destination":{"id":"6de39292-2ee9-39b1-bffa-7c96d08d8fe7","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"396b7a9f-8e7f-3d67-9168-acbc6dd6080c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"14f8e4dc-0347-3a1a-a4d7-eedd6a90bc50","instanceIdentifier":"ca1753bd-21b3-3415-900c-8dcc356ccb40","name":"","source":{"id":"c820eb4a-b4cd-30b6-8507-6b912d26541e","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b5d9ade9-284d-389e-9f43-be081254c3a2"},"destination":{"id":"8bac4cc8-1ab9-30ce-8046-5e28ddec44c3","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Body-Extract","comments":"","instanceIdentifier":"c63f1736-72b6-3990-ac43-46c25718c042"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"8af25e20-83c3-3298-8532-788ae31ccb5a","instanceIdentifier":"81d9c369-f501-3a52-a862-e0dbb88f09f5","name":"","source":{"id":"28a11696-2801-35db-aae0-e0a80b343163","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"PutEmail","comments":"","instanceIdentifier":"62884681-5218-3fe7-a65c-bb6cb3cfaea2"},"destination":{"id":"e0fc532e-ab88-335f-80aa-074d9d893777","type":"FUNNEL","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"Funnel","comments":"","instanceIdentifier":"84afb279-5ff4-386d-97c4-23fac92bf715"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"6e317ba7-c972-3a09-9432-ad8ead01bb5e","instanceIdentifier":"bed86e2d-dda7-351a-9f87-8e76e5e27b92","name":"","source":{"id":"e6ba766b-f573-347d-9e3f-7e8ad384a53e","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b10c54bd-3cc6-3424-b85f-b5c17133d41d"},"destination":{"id":"28a11696-2801-35db-aae0-e0a80b343163","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"PutEmail","comments":"","instanceIdentifier":"62884681-5218-3fe7-a65c-bb6cb3cfaea2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"828ae1dd-e33e-3602-aca1-ba58e1025f8d","instanceIdentifier":"c8f15703-1d26-38b7-bb4a-19d6ec5d4264","name":"","source":{"id":"8febe063-39d4-3caa-9ca0-0808ec0b03ee","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a9042b3f-d87e-3a22-b5e0-3497026eb143"},"destination":{"id":"184aed51-ca62-3511-991e-a7c9da3b7408","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"8f33b099-3681-3921-8b1f-a37c031d4010"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"bafdee4d-7e48-3192-82df-e90675d42105","instanceIdentifier":"6902a35a-0d3a-3c9b-a5ea-886ae1751438","name":"","source":{"id":"fc256bac-7bac-353d-bc7e-192550091073","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"GenerateFlowFile","comments":"","instanceIdentifier":"693f2ab9-3981-38a3-b742-6bf87676650c"},"destination":{"id":"ae7bb439-80f9-3f0d-a708-d5df667a41a8","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"b13cad2d-2e43-3f9a-863f-c2ed0622fd9e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"977ca93b-d5d4-38d8-95cd-ffd0ea722d5c","instanceIdentifier":"9cd0b6cb-9ec8-3d23-96bb-cdbb26a4583b","name":"","source":{"id":"3489d5f0-8546-3b40-8847-e57f0744adc5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"e9f7ff92-ec6a-32af-96c8-fdefe97e28d2"},"destination":{"id":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"AttributesToJSON","comments":"","instanceIdentifier":"eeabfce0-bb78-3099-9d91-cc0b4a2da76e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"fc82163c-6205-33f4-9224-8571a401b748","instanceIdentifier":"c92f06eb-ba21-3afd-81e8-23634bb7bfa7","name":"","source":{"id":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"612ef041-1df4-398b-a5e1-21baab83224b"},"destination":{"id":"c838b50a-6522-32e7-b1a7-42e0323b7456","type":"FUNNEL","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"Funnel","comments":"","instanceIdentifier":"0d428dd9-da37-37de-9f83-bbc7cd342487"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"ea7624f7-d68c-3844-8a5c-a4e80da14109","instanceIdentifier":"81b55707-8d8e-3f43-a6e5-448524fd3c05","name":"","source":{"id":"a62cbd37-3e81-39a2-97ed-d0e7c55f4aac","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Body-Summary","comments":"","instanceIdentifier":"dd036027-a317-3c4c-975d-6c0782ef8124"},"destination":{"id":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Summary","comments":"","instanceIdentifier":"9c07e7f2-6ca2-383c-af4e-b92750c97f84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"1ef5fe9c-9ea0-3ccb-96c2-648b1d8e97e3","instanceIdentifier":"65255d9c-4abc-37f4-9570-cc9497f27999","name":"","source":{"id":"59bcb59e-7b20-3fcc-9056-b77e4c5218f0","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Email","comments":"","instanceIdentifier":"465af7b3-facf-3a6a-9587-2eb606d436f2"},"destination":{"id":"5303cb5e-e45f-3f1a-bad7-764f5a91a37a","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"41c0baf8-5928-3f9d-936f-9d0b30e16f21"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"e1909d88-a2d0-3153-a4ef-b5c21f10352d","instanceIdentifier":"7da98cb9-9e16-3208-942d-b4e583389340","name":"","source":{"id":"18566d56-203e-306f-8ca6-5747c8090be1","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ListS3-Claims","comments":"","instanceIdentifier":"25b2bf4e-9ada-3000-accc-f8bd59cbd33b"},"destination":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"FetchS3-Claims","comments":"","instanceIdentifier":"80db9deb-2958-3b64-803a-347f54f5463b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"73408352-75cc-3991-b821-d66fa072ad77","instanceIdentifier":"4bbc7797-c16d-3927-bc84-0c122398cc3b","name":"","source":{"id":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Summary","comments":"","instanceIdentifier":"9c07e7f2-6ca2-383c-af4e-b92750c97f84"},"destination":{"id":"8febe063-39d4-3caa-9ca0-0808ec0b03ee","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a9042b3f-d87e-3a22-b5e0-3497026eb143"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"bc2faabf-edb9-33b1-aedd-76c103867dd1","instanceIdentifier":"53d039cf-3b3e-367e-bc2b-b4d6ee33ccee","name":"","source":{"id":"20b0d3b3-b52f-39b6-ba27-96225159e843","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Extract","comments":"","instanceIdentifier":"daec8ab6-95de-3f07-ad89-be8a4f075985"},"destination":{"id":"6b39e334-3794-31f2-b574-210af62358e5","type":"FUNNEL","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"Funnel","comments":"","instanceIdentifier":"b883e800-104e-32cd-b987-54e3a2e57f9d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"a54cceaf-c54b-3c7d-976a-0563126b1f96","instanceIdentifier":"c3c4a930-46d6-38b3-baa0-b52e86f28019","name":"","source":{"id":"ae7bb439-80f9-3f0d-a708-d5df667a41a8","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"b13cad2d-2e43-3f9a-863f-c2ed0622fd9e"},"destination":{"id":"028f72f0-3df1-33dd-b511-332ba758b6a5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP","comments":"","instanceIdentifier":"6fc96697-e55c-354e-8e59-008609770e04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"161b9249-8f46-3b47-a7fc-7e8c1c4b37b3","instanceIdentifier":"5e71ef71-e5d2-39e0-8132-dc5dd6338cc4","name":"","source":{"id":"6939922e-8c8e-3330-9c2d-d1059b73cd55","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"a875cf39-f6fb-3f4d-b330-d47c8656dd0a"},"destination":{"id":"17cb1cb9-8a16-34df-b561-f51f589dab43","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"e295e2e3-2c5e-3bd4-b1be-93e8fb9cd208"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"0e4bd8ad-2700-3879-b30b-44c73eb75091","instanceIdentifier":"91261090-a5a3-3965-8087-9ea75bca9feb","name":"","source":{"id":"b9dea2d8-247b-3fb7-af59-bf14bb4c1ca5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"80cff071-5006-3ae4-92be-018ffc190f20"},"destination":{"id":"eb4ac003-c28e-3d0d-9a32-cc60ee7adb1b","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c7509212-540b-3e87-ac64-6c7ae962060e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"6d30eb6c-f114-3bec-ac1b-5f760f37864f","instanceIdentifier":"a9a8397f-6387-3109-b93d-3ccf2eb8503e","name":"","source":{"id":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"InvokeHTTP-Summary","comments":"","instanceIdentifier":"9c07e7f2-6ca2-383c-af4e-b92750c97f84"},"destination":{"id":"dece487b-eec2-3fd2-b53b-9e8ce35725b1","type":"FUNNEL","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"Funnel","comments":"","instanceIdentifier":"0ee85248-9025-34be-a2cb-618ac8f99414"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"348b32fb-d787-300c-a638-7203f44340a0","instanceIdentifier":"651b956d-08db-3569-b3a1-65d872fa4bf7","name":"","source":{"id":"6de39292-2ee9-39b1-bffa-7c96d08d8fe7","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"396b7a9f-8e7f-3d67-9168-acbc6dd6080c"},"destination":{"id":"bc1b1a35-caa4-3551-a1de-e225bc836ae8","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"8b477387-83f0-3407-9ee2-9c6a90aff2f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"1d6f4d81-7195-39ed-a5f7-c95fd1983661","instanceIdentifier":"5402ff19-fb80-3bcf-b818-bcfafc8f253a","name":"","source":{"id":"e6ba766b-f573-347d-9e3f-7e8ad384a53e","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b10c54bd-3cc6-3424-b85f-b5c17133d41d"},"destination":{"id":"b5bd8ed2-4408-335d-a6f1-a80a860bbbd3","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"f7ba7e11-adbc-32dd-9298-01fb4f712b7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"d2df18f2-ce76-3bfa-ac8d-3b6bf0a9d99b","instanceIdentifier":"90694650-5b6f-30b1-bb54-14fada6e3c9a","name":"","source":{"id":"719e931f-2324-31e0-8add-820cbf45ea52","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"14a831d6-23d3-30b4-991d-db331ae267d7"},"destination":{"id":"3489d5f0-8546-3b40-8847-e57f0744adc5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"e9f7ff92-ec6a-32af-96c8-fdefe97e28d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"77802bf6-ccb1-3d59-97ba-6df4ae918cfb","instanceIdentifier":"40df4c1d-1cb2-3589-b976-0d115236a104","name":"","source":{"id":"689b5ce1-7bc6-3f21-81db-59a201db0597","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"UpdateAttribute","comments":"","instanceIdentifier":"70aaed9a-e51f-346b-83dd-e95e0cd54359"},"destination":{"id":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"64cbe036-1cbd-345c-b297-bf1b0e586349"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"5fe110c1-2b10-3c12-8544-f8c8e656845b","instanceIdentifier":"225eae86-1270-35d0-9466-4ba20e449136","name":"","source":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"FetchS3-Claims","comments":"","instanceIdentifier":"80db9deb-2958-3b64-803a-347f54f5463b"},"destination":{"id":"d8c481d8-07d4-3a1c-8904-aff7be47ade4","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText-Extract","comments":"","instanceIdentifier":"12c7b2cc-4f8e-3559-a639-a04817fe6c02"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"75bf9155-a4c9-3541-b935-972ee95df706","instanceIdentifier":"29a3e574-2c44-317b-9dbe-a9ad7d2438a8","name":"","source":{"id":"5303cb5e-e45f-3f1a-bad7-764f5a91a37a","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"41c0baf8-5928-3f9d-936f-9d0b30e16f21"},"destination":{"id":"05d76367-8ccb-3516-a756-0a48d56faa71","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"ReplaceText","comments":"","instanceIdentifier":"e4753cd8-209c-3c88-94b7-48511527db37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"a804d526-333f-3cd8-908f-52d97cf5ee32","instanceIdentifier":"761332d4-1c19-3b82-9f37-309f8dcf954e","name":"","source":{"id":"a415324c-7acf-38be-a8d7-e5be0c08ea22","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"PutS3Object","comments":"","instanceIdentifier":"97cb14f6-ed39-3779-9fdc-0df3e6e06b5f"},"destination":{"id":"3027ee74-1a94-3a04-bfab-5e35c84a2e78","type":"FUNNEL","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"Funnel","comments":"","instanceIdentifier":"3eeca6bb-1fc9-3b3e-b56b-ddaf82b8382c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"8dbf0996-655c-3c92-89e0-426eb66570a2","instanceIdentifier":"d9c13695-8c6c-3491-97f1-d647beaaeefb","name":"","source":{"id":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"AttributesToJSON","comments":"","instanceIdentifier":"eeabfce0-bb78-3099-9d91-cc0b4a2da76e"},"destination":{"id":"a415324c-7acf-38be-a8d7-e5be0c08ea22","type":"PROCESSOR","groupId":"f39c48b3-66f2-31b8-a018-d49cdd380ec3","name":"PutS3Object","comments":"","instanceIdentifier":"97cb14f6-ed39-3779-9fdc-0df3e6e06b5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"}],"labels":[{"identifier":"6274010e-b651-39c0-835b-286f8ae40c1e","instanceIdentifier":"b869d944-d428-356d-9fda-1953534039ed","position":{"x":1296.0,"y":8.0},"label":"Execute this to get IBM's IAM token using API Key","zIndex":0,"width":536.0,"height":920.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"}],"funnels":[{"identifier":"dece487b-eec2-3fd2-b53b-9e8ce35725b1","instanceIdentifier":"0ee85248-9025-34be-a2cb-618ac8f99414","position":{"x":312.0,"y":1536.0},"componentType":"FUNNEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"6b39e334-3794-31f2-b574-210af62358e5","instanceIdentifier":"b883e800-104e-32cd-b987-54e3a2e57f9d","position":{"x":-712.0,"y":1560.0},"componentType":"FUNNEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"e0fc532e-ab88-335f-80aa-074d9d893777","instanceIdentifier":"84afb279-5ff4-386d-97c4-23fac92bf715","position":{"x":1176.0,"y":1784.0},"componentType":"FUNNEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"c838b50a-6522-32e7-b1a7-42e0323b7456","instanceIdentifier":"0d428dd9-da37-37de-9f83-bbc7cd342487","position":{"x":1544.0,"y":872.0},"componentType":"FUNNEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"4825da54-788c-3faa-8b96-d61209a01fe6","instanceIdentifier":"54762223-30b3-3c4e-aff4-5c858339f9c4","position":{"x":889.0650128344237,"y":1505.273634891054},"componentType":"FUNNEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"},{"identifier":"3027ee74-1a94-3a04-bfab-5e35c84a2e78","instanceIdentifier":"3eeca6bb-1fc9-3b3e-b56b-ddaf82b8382c","position":{"x":520.0,"y":2304.0},"componentType":"FUNNEL","groupIdentifier":"f39c48b3-66f2-31b8-a018-d49cdd380ec3"}],"controllerServices":[],"variables":{},"parameterContextName":"Cloudera_Watsonx_Param_Context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"Cloudera_Watsonx_Param_Context":{"name":"Cloudera_Watsonx_Param_Context","parameters":[{"name":"s3_output_path","description":"Eg: data/watsonx_response","sensitive":false,"provided":false,"value":"my-data/cdpwxaidemo/output"},{"name":"watsonx_bearer_token","description":"","sensitive":false,"provided":false},{"name":"s3_secret_access_key","description":"","sensitive":true,"provided":false},{"name":"s3_access_key","description":"","sensitive":true,"provided":false},{"name":"watsonx_model_url","description":"","sensitive":false,"provided":false,"value":"https://us-south.ml.cloud.ibm.com/ml/v1/text/generation?version=2023-05-29"},{"name":"s3_input_path","description":"Eg: data/claim","sensitive":false,"provided":false,"value":"my-data/cdpwxaidemo/input"},{"name":"s3_bucket","description":"Eg: iceberg-presto","sensitive":false,"provided":false,"value":"amer-hol"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}