cloudera_watsonx_readyflow_cdf2.7.json
{
  "flowContents": {
    "identifier": "b68711d3-671b-370e-93b3-40a68777800e",
    "instanceIdentifier": "6ed16238-018c-1000-0000-0000221cc593",
    "name": "S3_to_IBM_watsonx",
    "comments": "",
    "position": {
      "x": 5382.202668841007,
      "y": 1486.5838691484769
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [{
      "identifier": "ea85509b-c9bf-382c-923c-8efaba81aff3",
      "instanceIdentifier": "58b1a0a7-de36-351e-bf70-16e09d905e9e",
      "name": "Create inputs attribute",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": 672.0
      },
      "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Destination": "flowfile-attribute",
        "inputs": "$.inputs",
        "Return Type": "json",
        "Null Value Representation": "empty string",
        "Path Not Found Behavior": "ignore"
      },
      "propertyDescriptors": {
        "Destination": {
          "name": "Destination",
          "displayName": "Destination",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "inputs": {
          "name": "inputs",
          "displayName": "inputs",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Return Type": {
          "name": "Return Type",
          "displayName": "Return Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Null Value Representation": {
          "name": "Null Value Representation",
          "displayName": "Null Value Representation",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Path Not Found Behavior": {
          "name": "Path Not Found Behavior",
          "displayName": "Path Not Found Behavior",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": ["unmatched"],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "0ce75bb7-d746-3640-81b7-be71092161e9",
      "instanceIdentifier": "84fd15de-910a-3cd3-8740-1ca689181ce9",
      "name": "Handle New Line Characters",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": -320.0
      },
      "type": "org.apache.nifi.processors.standard.ReplaceText",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Regular Expression": "\n",
        "Replacement Value": "\\\\\\\\n",
        "Evaluation Mode": "Line-by-Line",
        "Text to Prepend": null,
        "Line-by-Line Evaluation Mode": "All",
        "Character Set": "UTF-8",
        "Maximum Buffer Size": "1 MB",
        "Replacement Strategy": "Literal Replace",
        "Text to Append": null
      },
      "propertyDescriptors": {
        "Regular Expression": {
          "name": "Regular Expression",
          "displayName": "Search Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Value": {
          "name": "Replacement Value",
          "displayName": "Replacement Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Evaluation Mode": {
          "name": "Evaluation Mode",
          "displayName": "Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Prepend": {
          "name": "Text to Prepend",
          "displayName": "Text to Prepend",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Line-by-Line Evaluation Mode": {
          "name": "Line-by-Line Evaluation Mode",
          "displayName": "Line-by-Line Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Character Set": {
          "name": "Character Set",
          "displayName": "Character Set",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Maximum Buffer Size": {
          "name": "Maximum Buffer Size",
          "displayName": "Maximum Buffer Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Strategy": {
          "name": "Replacement Strategy",
          "displayName": "Replacement Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Append": {
          "name": "Text to Append",
          "displayName": "Text to Append",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "3279fcad-1ee7-3f4d-bb91-fb451113f645",
      "instanceIdentifier": "ece0a432-7ace-30e1-9057-aed14b8dd2d5",
      "name": "Add inputs field + JSON formatting ",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": 16.0
      },
      "type": "org.apache.nifi.processors.standard.ReplaceText",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Regular Expression": "(?s)(^.*$)",
        "Replacement Value": "$1",
        "Evaluation Mode": "Entire text",
        "Text to Prepend": "{\"inputs\":\"",
        "Line-by-Line Evaluation Mode": "All",
        "Character Set": "UTF-8",
        "Maximum Buffer Size": "1 MB",
        "Replacement Strategy": "Surround",
        "Text to Append": "\"}"
      },
      "propertyDescriptors": {
        "Regular Expression": {
          "name": "Regular Expression",
          "displayName": "Search Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Value": {
          "name": "Replacement Value",
          "displayName": "Replacement Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Evaluation Mode": {
          "name": "Evaluation Mode",
          "displayName": "Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Prepend": {
          "name": "Text to Prepend",
          "displayName": "Text to Prepend",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Line-by-Line Evaluation Mode": {
          "name": "Line-by-Line Evaluation Mode",
          "displayName": "Line-by-Line Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Character Set": {
          "name": "Character Set",
          "displayName": "Character Set",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Maximum Buffer Size": {
          "name": "Maximum Buffer Size",
          "displayName": "Maximum Buffer Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Strategy": {
          "name": "Replacement Strategy",
          "displayName": "Replacement Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Append": {
          "name": "Text to Append",
          "displayName": "Text to Append",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "c0fb8219-620d-3f6e-b648-c99e44b47b29",
      "instanceIdentifier": "48c24681-9c64-373d-ae3e-6e3485dbb93f",
      "name": "List S3",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": -1312.0
      },
      "type": "org.apache.nifi.processors.hadoop.ListCDPObjectStore",
      "bundle": {
        "group": "com.cloudera",
        "artifact": "nifi-cdf-objectstore-nar",
        "version": "1.0.0.2.3.13.0-1"
      },
      "properties": {
        "kerberos-credentials-service": null,
        "cdp.configuration.resources": "#{CDPEnvironment}",
        "Kerberos Password": "#{CDP Workload User Password}",
        "maximum-file-age": null,
        "record-writer": null,
        "cdp-storage-location": "s3a://#{Source S3 Bucket}",
        "Kerberos Principal": "#{CDP Workload User}",
        "Recurse Subdirectories": "true",
        "file-filter-mode": "filter-mode-directories-and-files",
        "minimum-file-age": null,
        "File Filter": "[^\\.].*",
        "Directory": "/#{Source S3 Path}"
      },
      "propertyDescriptors": {
        "kerberos-credentials-service": {
          "name": "kerberos-credentials-service",
          "displayName": "Kerberos Credentials Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "cdp.configuration.resources": {
          "name": "cdp.configuration.resources",
          "displayName": "cdp.configuration.resources",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Kerberos Password": {
          "name": "Kerberos Password",
          "displayName": "CDP Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "maximum-file-age": {
          "name": "maximum-file-age",
          "displayName": "Maximum File Age",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "record-writer": {
          "name": "record-writer",
          "displayName": "Record Writer",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "cdp-storage-location": {
          "name": "cdp-storage-location",
          "displayName": "Storage Location",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Kerberos Principal": {
          "name": "Kerberos Principal",
          "displayName": "CDP Username",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Recurse Subdirectories": {
          "name": "Recurse Subdirectories",
          "displayName": "Recurse Subdirectories",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "file-filter-mode": {
          "name": "file-filter-mode",
          "displayName": "File Filter Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "minimum-file-age": {
          "name": "minimum-file-age",
          "displayName": "Minimum File Age",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "File Filter": {
          "name": "File Filter",
          "displayName": "File Filter",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Directory": {
          "name": "Directory",
          "displayName": "Directory",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "1 min",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "PRIMARY",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "8ccd7d80-1816-3c66-a209-58b1bc5ae6a1",
      "instanceIdentifier": "1dd47410-153a-3230-b1a4-c68b3a549173",
      "name": "Create attributes from model",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 1720.0
      },
      "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Destination": "flowfile-attribute",
        "Return Type": "json",
        "created_at": "$.created_at",
        "Null Value Representation": "empty string",
        "model_id": "$.model_id",
        "generated_token_count": "$.results[0].generated_token_count",
        "generated_text": "$.results[0].generated_text",
        "Path Not Found Behavior": "ignore",
        "input_token_count": "$.results[0].input_token_count"
      },
      "propertyDescriptors": {
        "Destination": {
          "name": "Destination",
          "displayName": "Destination",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Return Type": {
          "name": "Return Type",
          "displayName": "Return Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "created_at": {
          "name": "created_at",
          "displayName": "created_at",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Null Value Representation": {
          "name": "Null Value Representation",
          "displayName": "Null Value Representation",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "model_id": {
          "name": "model_id",
          "displayName": "model_id",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "generated_token_count": {
          "name": "generated_token_count",
          "displayName": "generated_token_count",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "generated_text": {
          "name": "generated_text",
          "displayName": "generated_text",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Path Not Found Behavior": {
          "name": "Path Not Found Behavior",
          "displayName": "Path Not Found Behavior",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "input_token_count": {
          "name": "input_token_count",
          "displayName": "input_token_count",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": ["unmatched"],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "543e9f12-6b48-307c-ac4f-6c53799088ba",
      "instanceIdentifier": "3b617fbb-3c5f-383a-b6db-bec268ad51dd",
      "name": "Set filename and mime type attributes",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": 336.0
      },
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-update-attribute-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Delete Attributes Expression": null,
        "filename": "${filename:substringAfterLast('/')}",
        "Store State": "Do not store state",
        "canonical-value-lookup-cache-size": "100",
        "Mime Type": "application/json",
        "Stateful Variables Initial Value": null
      },
      "propertyDescriptors": {
        "Delete Attributes Expression": {
          "name": "Delete Attributes Expression",
          "displayName": "Delete Attributes Expression",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "filename": {
          "name": "filename",
          "displayName": "filename",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Store State": {
          "name": "Store State",
          "displayName": "Store State",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "canonical-value-lookup-cache-size": {
          "name": "canonical-value-lookup-cache-size",
          "displayName": "Cache Value Lookup Cache Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Mime Type": {
          "name": "Mime Type",
          "displayName": "Mime Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Stateful Variables Initial Value": {
          "name": "Stateful Variables Initial Value",
          "displayName": "Stateful Variables Initial Value",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "2af2fefa-3185-3ef8-b100-99fc9cb822f0",
      "instanceIdentifier": "70bea414-d415-3bb9-8c09-c5f8a859030e",
      "name": "Add Instructions",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": -656.0
      },
      "type": "org.apache.nifi.processors.standard.ReplaceText",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Regular Expression": "(?s)(^.*$)",
        "Replacement Value": "You are an insurance claim processor. Read the following letter from an insurance customer and extract the requestor name, the requestor email, the date of the request, the policy number, the insurance plan name, and the reimbursement amount. Format the output as shown in the example.\n\nExample Input:\n$1\n\nExample Output:\nname: Mike Hawthorne\nemail: hawm1234@gmail.com\ndate: September 28, 2023\npolicy number: 175032218\ninsurance plan name: SpecialDentalPlus\nreimbursement amount: $540.25\n\nInput:\n\n\nOutput:",
        "Evaluation Mode": "Entire text",
        "Text to Prepend": "Please provide a summary of the following text. Do not add any information that is not mentioned in the text below.\n\nInput:\n",
        "Line-by-Line Evaluation Mode": "All",
        "Character Set": "UTF-8",
        "Maximum Buffer Size": "1 MB",
        "Replacement Strategy": "Surround",
        "Text to Append": "\nOutput:\n"
      },
      "propertyDescriptors": {
        "Regular Expression": {
          "name": "Regular Expression",
          "displayName": "Search Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Value": {
          "name": "Replacement Value",
          "displayName": "Replacement Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Evaluation Mode": {
          "name": "Evaluation Mode",
          "displayName": "Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Prepend": {
          "name": "Text to Prepend",
          "displayName": "Text to Prepend",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Line-by-Line Evaluation Mode": {
          "name": "Line-by-Line Evaluation Mode",
          "displayName": "Line-by-Line Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Character Set": {
          "name": "Character Set",
          "displayName": "Character Set",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Maximum Buffer Size": {
          "name": "Maximum Buffer Size",
          "displayName": "Maximum Buffer Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Strategy": {
          "name": "Replacement Strategy",
          "displayName": "Replacement Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Append": {
          "name": "Text to Append",
          "displayName": "Text to Append",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
      "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9",
      "name": "Fetch S3",
      "comments": "",
      "position": {
        "x": 3216.0,
        "y": -960.0
      },
      "type": "org.apache.nifi.processors.hadoop.FetchCDPObjectStore",
      "bundle": {
        "group": "com.cloudera",
        "artifact": "nifi-cdf-objectstore-nar",
        "version": "1.0.0.2.3.13.0-1"
      },
      "properties": {
        "kerberos-credentials-service": null,
        "cdp.configuration.resources": "#{CDPEnvironment}",
        "filename": "${path\n    :append(${path:equals(\"/\"):ifElse(\"\", \"/\")})\n    :append(${filename})\n}",
        "Kerberos Password": "#{CDP Workload User Password}",
        "cdp-storage-location": "s3a://#{Source S3 Bucket}",
        "Kerberos Principal": "#{CDP Workload User}"
      },
      "propertyDescriptors": {
        "kerberos-credentials-service": {
          "name": "kerberos-credentials-service",
          "displayName": "Kerberos Credentials Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "cdp.configuration.resources": {
          "name": "cdp.configuration.resources",
          "displayName": "cdp.configuration.resources",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "filename": {
          "name": "filename",
          "displayName": "Filename",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Kerberos Password": {
          "name": "Kerberos Password",
          "displayName": "CDP Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "cdp-storage-location": {
          "name": "cdp-storage-location",
          "displayName": "Storage Location",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Kerberos Principal": {
          "name": "Kerberos Principal",
          "displayName": "CDP Username",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "2ee9d949-0ada-3a11-86b4-c6e87a3d6a7c",
      "instanceIdentifier": "fdaf5583-043d-35dc-b2dc-dbcaaf8885e9",
      "name": "Write To S3",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 3640.0
      },
      "type": "org.apache.nifi.processors.hadoop.PutCDPObjectStore",
      "bundle": {
        "group": "com.cloudera",
        "artifact": "nifi-cdf-objectstore-nar",
        "version": "1.0.0.2.3.13.0-1"
      },
      "properties": {
        "kerberos-credentials-service": null,
        "cdp.configuration.resources": "/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml",
        "Kerberos Password": "#{CDP Workload User Password}",
        "cdp-storage-location": "s3a://#{Destination S3 Bucket}",
        "Kerberos Principal": "#{CDP Workload User}",
        "writing-strategy": "simpleWrite",
        "Directory": "${s3.object.path}",
        "Conflict Resolution Strategy": "fail"
      },
      "propertyDescriptors": {
        "kerberos-credentials-service": {
          "name": "kerberos-credentials-service",
          "displayName": "Kerberos Credentials Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "cdp.configuration.resources": {
          "name": "cdp.configuration.resources",
          "displayName": "cdp.configuration.resources",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Kerberos Password": {
          "name": "Kerberos Password",
          "displayName": "CDP Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "cdp-storage-location": {
          "name": "cdp-storage-location",
          "displayName": "Storage Location",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Kerberos Principal": {
          "name": "Kerberos Principal",
          "displayName": "CDP Username",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "writing-strategy": {
          "name": "writing-strategy",
          "displayName": "Writing Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Directory": {
          "name": "Directory",
          "displayName": "Directory",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Conflict Resolution Strategy": {
          "name": "Conflict Resolution Strategy",
          "displayName": "Conflict Resolution Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": ["success"],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "a24cb5db-6825-3bde-aa7c-e3ffe1cbb916",
      "instanceIdentifier": "232cc618-02a0-3388-b607-54094fe8d5ba",
      "name": "s3.path attribute",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 2792.0
      },
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-update-attribute-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Delete Attributes Expression": null,
        "s3.path": "#{Destination S3 Path}",
        "Store State": "Do not store state",
        "canonical-value-lookup-cache-size": "100",
        "Stateful Variables Initial Value": null
      },
      "propertyDescriptors": {
        "Delete Attributes Expression": {
          "name": "Delete Attributes Expression",
          "displayName": "Delete Attributes Expression",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "s3.path": {
          "name": "s3.path",
          "displayName": "s3.path",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Store State": {
          "name": "Store State",
          "displayName": "Store State",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "canonical-value-lookup-cache-size": {
          "name": "canonical-value-lookup-cache-size",
          "displayName": "Cache Value Lookup Cache Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Stateful Variables Initial Value": {
          "name": "Stateful Variables Initial Value",
          "displayName": "Stateful Variables Initial Value",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "d9afdcfa-b688-35bc-8fa2-4464a981f8c4",
      "instanceIdentifier": "6a94efb2-6ab6-3193-886f-d9cb3629c3da",
      "name": "Prep Model Input",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 1008.0
      },
      "type": "org.apache.nifi.processors.standard.ReplaceText",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Regular Expression": "(?s)(^.*$)",
        "Replacement Value": "#{watsonx Model Input}",
        "Evaluation Mode": "Line-by-Line",
        "Text to Prepend": null,
        "Line-by-Line Evaluation Mode": "All",
        "Character Set": "UTF-8",
        "Maximum Buffer Size": "1 MB",
        "Replacement Strategy": "Regex Replace",
        "Text to Append": null
      },
      "propertyDescriptors": {
        "Regular Expression": {
          "name": "Regular Expression",
          "displayName": "Search Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Value": {
          "name": "Replacement Value",
          "displayName": "Replacement Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Evaluation Mode": {
          "name": "Evaluation Mode",
          "displayName": "Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Prepend": {
          "name": "Text to Prepend",
          "displayName": "Text to Prepend",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Line-by-Line Evaluation Mode": {
          "name": "Line-by-Line Evaluation Mode",
          "displayName": "Line-by-Line Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Character Set": {
          "name": "Character Set",
          "displayName": "Character Set",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Maximum Buffer Size": {
          "name": "Maximum Buffer Size",
          "displayName": "Maximum Buffer Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Strategy": {
          "name": "Replacement Strategy",
          "displayName": "Replacement Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Append": {
          "name": "Text to Append",
          "displayName": "Text to Append",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "39238524-5995-3ea8-9407-bfb755074372",
      "instanceIdentifier": "31012080-1848-311c-b965-a8fb3b21cf59",
      "name": "Generate JSON for attributes",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 2368.0
      },
      "type": "org.apache.nifi.processors.standard.AttributesToJSON",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "attributes-to-json-regex": null,
        "Destination": "flowfile-content",
        "Null Value": "false",
        "Attributes List": "model_id, created_at, generated_text, generated_token_count, input_token_count, filename, inputs, invokehttp.request.url, s3.bucket",
        "Include Core Attributes": "true"
      },
      "propertyDescriptors": {
        "attributes-to-json-regex": {
          "name": "attributes-to-json-regex",
          "displayName": "Attributes Regular Expression",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Destination": {
          "name": "Destination",
          "displayName": "Destination",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Null Value": {
          "name": "Null Value",
          "displayName": "Null Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Attributes List": {
          "name": "Attributes List",
          "displayName": "Attributes List",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Include Core Attributes": {
          "name": "Include Core Attributes",
          "displayName": "Include Core Attributes",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "e2439819-b6db-3838-9989-c1dd3b1b2c37",
      "instanceIdentifier": "0e84e6e5-2df3-3bc8-8941-5655cd5f2d16",
      "name": "Set S3 Path",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 3240.0
      },
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-update-attribute-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Delete Attributes Expression": null,
        "s3.object.path": "${s3.path:startsWith('/'):ifElse(\"${s3.path}\", \"/${s3.path}\")}",
        "Store State": "Do not store state",
        "canonical-value-lookup-cache-size": "100",
        "Stateful Variables Initial Value": null
      },
      "propertyDescriptors": {
        "Delete Attributes Expression": {
          "name": "Delete Attributes Expression",
          "displayName": "Delete Attributes Expression",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "s3.object.path": {
          "name": "s3.object.path",
          "displayName": "s3.object.path",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Store State": {
          "name": "Store State",
          "displayName": "Store State",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "canonical-value-lookup-cache-size": {
          "name": "canonical-value-lookup-cache-size",
          "displayName": "Cache Value Lookup Cache Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Stateful Variables Initial Value": {
          "name": "Stateful Variables Initial Value",
          "displayName": "Stateful Variables Initial Value",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "546a8959-5ee3-315d-b7a6-b820a38256e2",
      "instanceIdentifier": "3497207d-e69f-3312-b174-5157afc67135",
      "name": "Call Model",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 1384.0
      },
      "type": "org.apache.nifi.processors.standard.InvokeHTTP",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Proxy Host": null,
        "Attributes to Send": null,
        "use-etag": "false",
        "proxy-configuration-service": null,
        "Proxy Type": "http",
        "cookie-strategy": "ACCEPT_ALL",
        "Connection Timeout": "60 secs",
        "send-message-body": "true",
        "Authorization": "Bearer ${access_token}",
        "set-form-filename": "true",
        "Always Output Response": "false",
        "etag-max-cache-size": "10MB",
        "Content-Encoding": "DISABLED",
        "disable-http2": "False",
        "idle-timeout": "5 mins",
        "Put Response Body In Attribute": null,
        "Use Chunked Encoding": "false",
        "Follow Redirects": "True",
        "Remote URL": "#{watsonx Model URL}",
        "form-body-form-name": null,
        "Content-Type": "application/json",
        "flow-file-naming-strategy": "RANDOM",
        "max-idle-connections": "5",
        "Accept": "application/json",
        "invokehttp-proxy-user": null,
        "Read Timeout": "60 secs",
        "Socket Write Timeout": "15 secs",
        "Max Length To Put In Attribute": "256",
        "ignore-response-content": "false",
        "Proxy Port": null,
        "SSL Context Service": null,
        "Digest Authentication": "false",
        "HTTP Method": "POST",
        "Add Response Headers to Request": "false",
        "oauth2-access-token-provider": null,
        "Basic Authentication Username": null,
        "Include Date Header": "True",
        "Penalize on \"No Retry\"": "false",
        "Useragent": null
      },
      "propertyDescriptors": {
        "Proxy Host": {
          "name": "Proxy Host",
          "displayName": "Proxy Host",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Attributes to Send": {
          "name": "Attributes to Send",
          "displayName": "Request Header Attributes Pattern",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "use-etag": {
          "name": "use-etag",
          "displayName": "Response Cache Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "proxy-configuration-service": {
          "name": "proxy-configuration-service",
          "displayName": "Proxy Configuration Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "Proxy Type": {
          "name": "Proxy Type",
          "displayName": "Proxy Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Basic Authentication Password": {
          "name": "Basic Authentication Password",
          "displayName": "Request Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "cookie-strategy": {
          "name": "cookie-strategy",
          "displayName": "Response Cookie Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Connection Timeout": {
          "name": "Connection Timeout",
          "displayName": "Socket Connect Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "send-message-body": {
          "name": "send-message-body",
          "displayName": "Request Body Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Authorization": {
          "name": "Authorization",
          "displayName": "Authorization",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "set-form-filename": {
          "name": "set-form-filename",
          "displayName": "Request Multipart Form-Data Filename Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Always Output Response": {
          "name": "Always Output Response",
          "displayName": "Response Generation Required",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "etag-max-cache-size": {
          "name": "etag-max-cache-size",
          "displayName": "Response Cache Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Content-Encoding": {
          "name": "Content-Encoding",
          "displayName": "Request Content-Encoding",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "disable-http2": {
          "name": "disable-http2",
          "displayName": "HTTP/2 Disabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "idle-timeout": {
          "name": "idle-timeout",
          "displayName": "Socket Idle Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Put Response Body In Attribute": {
          "name": "Put Response Body In Attribute",
          "displayName": "Response Body Attribute Name",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Use Chunked Encoding": {
          "name": "Use Chunked Encoding",
          "displayName": "Request Chunked Transfer-Encoding Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Follow Redirects": {
          "name": "Follow Redirects",
          "displayName": "Response Redirects Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Remote URL": {
          "name": "Remote URL",
          "displayName": "HTTP URL",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "form-body-form-name": {
          "name": "form-body-form-name",
          "displayName": "Request Multipart Form-Data Name",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Content-Type": {
          "name": "Content-Type",
          "displayName": "Request Content-Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "flow-file-naming-strategy": {
          "name": "flow-file-naming-strategy",
          "displayName": "Response FlowFile Naming Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "max-idle-connections": {
          "name": "max-idle-connections",
          "displayName": "Socket Idle Connections",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Accept": {
          "name": "Accept",
          "displayName": "Accept",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "invokehttp-proxy-user": {
          "name": "invokehttp-proxy-user",
          "displayName": "Proxy Username",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Read Timeout": {
          "name": "Read Timeout",
          "displayName": "Socket Read Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Socket Write Timeout": {
          "name": "Socket Write Timeout",
          "displayName": "Socket Write Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Max Length To Put In Attribute": {
          "name": "Max Length To Put In Attribute",
          "displayName": "Response Body Attribute Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "invokehttp-proxy-password": {
          "name": "invokehttp-proxy-password",
          "displayName": "Proxy Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "ignore-response-content": {
          "name": "ignore-response-content",
          "displayName": "Response Body Ignored",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Proxy Port": {
          "name": "Proxy Port",
          "displayName": "Proxy Port",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "SSL Context Service": {
          "name": "SSL Context Service",
          "displayName": "SSL Context Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "Digest Authentication": {
          "name": "Digest Authentication",
          "displayName": "Request Digest Authentication Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "HTTP Method": {
          "name": "HTTP Method",
          "displayName": "HTTP Method",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Add Response Headers to Request": {
          "name": "Add Response Headers to Request",
          "displayName": "Response Header Request Attributes Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "oauth2-access-token-provider": {
          "name": "oauth2-access-token-provider",
          "displayName": "Request OAuth2 Access Token Provider",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "Basic Authentication Username": {
          "name": "Basic Authentication Username",
          "displayName": "Request Username",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Include Date Header": {
          "name": "Include Date Header",
          "displayName": "Request Date Header Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Penalize on \"No Retry\"": {
          "name": "Penalize on \"No Retry\"",
          "displayName": "Request Failure Penalization Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Useragent": {
          "name": "Useragent",
          "displayName": "Request User-Agent",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": ["No Retry", "Retry", "Original"],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "943b862c-14d7-393a-a7ea-82d68bf9c0aa",
      "instanceIdentifier": "540fb47e-7b1d-35d7-863c-07172af8763c",
      "name": "Create access_token attribute",
      "comments": "",
      "position": {
        "x": 4304.0,
        "y": 1008.0
      },
      "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "access_token": "$.access_token",
        "Destination": "flowfile-attribute",
        "Return Type": "json",
        "Null Value Representation": "empty string",
        "Path Not Found Behavior": "ignore"
      },
      "propertyDescriptors": {
        "access_token": {
          "name": "access_token",
          "displayName": "access_token",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Destination": {
          "name": "Destination",
          "displayName": "Destination",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Return Type": {
          "name": "Return Type",
          "displayName": "Return Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Null Value Representation": {
          "name": "Null Value Representation",
          "displayName": "Null Value Representation",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Path Not Found Behavior": {
          "name": "Path Not Found Behavior",
          "displayName": "Path Not Found Behavior",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": ["unmatched"],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "fcaa009b-cf90-379f-ac79-ad2fd0e60adc",
      "instanceIdentifier": "9b21cc8a-4f7c-3603-a8b0-1e5e3910e535",
      "name": "Get IAM Token",
      "comments": "",
      "position": {
        "x": 4984.0,
        "y": 816.0
      },
      "type": "org.apache.nifi.processors.standard.InvokeHTTP",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Proxy Host": null,
        "Attributes to Send": null,
        "use-etag": "false",
        "proxy-configuration-service": null,
        "Proxy Type": "http",
        "cookie-strategy": "ACCEPT_ALL",
        "Connection Timeout": "30 secs",
        "send-message-body": "true",
        "set-form-filename": "true",
        "Always Output Response": "false",
        "etag-max-cache-size": "10MB",
        "Content-Encoding": "DISABLED",
        "disable-http2": "False",
        "idle-timeout": "5 mins",
        "Put Response Body In Attribute": null,
        "Use Chunked Encoding": "false",
        "Follow Redirects": "True",
        "Remote URL": "https://iam.cloud.ibm.com/identity/token",
        "form-body-form-name": null,
        "Content-Type": "application/x-www-form-urlencoded",
        "flow-file-naming-strategy": "URL_PATH",
        "max-idle-connections": "5",
        "invokehttp-proxy-user": null,
        "Read Timeout": "60 secs",
        "Socket Write Timeout": "15 secs",
        "Max Length To Put In Attribute": "256",
        "ignore-response-content": "false",
        "Proxy Port": null,
        "SSL Context Service": null,
        "Digest Authentication": "false",
        "HTTP Method": "POST",
        "Add Response Headers to Request": "false",
        "oauth2-access-token-provider": null,
        "Basic Authentication Username": null,
        "Include Date Header": "False",
        "Penalize on \"No Retry\"": "false",
        "Useragent": null
      },
      "propertyDescriptors": {
        "Proxy Host": {
          "name": "Proxy Host",
          "displayName": "Proxy Host",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Attributes to Send": {
          "name": "Attributes to Send",
          "displayName": "Request Header Attributes Pattern",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "use-etag": {
          "name": "use-etag",
          "displayName": "Response Cache Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "proxy-configuration-service": {
          "name": "proxy-configuration-service",
          "displayName": "Proxy Configuration Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "Proxy Type": {
          "name": "Proxy Type",
          "displayName": "Proxy Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Basic Authentication Password": {
          "name": "Basic Authentication Password",
          "displayName": "Request Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "cookie-strategy": {
          "name": "cookie-strategy",
          "displayName": "Response Cookie Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Connection Timeout": {
          "name": "Connection Timeout",
          "displayName": "Socket Connect Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "send-message-body": {
          "name": "send-message-body",
          "displayName": "Request Body Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "set-form-filename": {
          "name": "set-form-filename",
          "displayName": "Request Multipart Form-Data Filename Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Always Output Response": {
          "name": "Always Output Response",
          "displayName": "Response Generation Required",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "etag-max-cache-size": {
          "name": "etag-max-cache-size",
          "displayName": "Response Cache Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Content-Encoding": {
          "name": "Content-Encoding",
          "displayName": "Request Content-Encoding",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "disable-http2": {
          "name": "disable-http2",
          "displayName": "HTTP/2 Disabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "idle-timeout": {
          "name": "idle-timeout",
          "displayName": "Socket Idle Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Put Response Body In Attribute": {
          "name": "Put Response Body In Attribute",
          "displayName": "Response Body Attribute Name",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Use Chunked Encoding": {
          "name": "Use Chunked Encoding",
          "displayName": "Request Chunked Transfer-Encoding Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Follow Redirects": {
          "name": "Follow Redirects",
          "displayName": "Response Redirects Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Remote URL": {
          "name": "Remote URL",
          "displayName": "HTTP URL",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "form-body-form-name": {
          "name": "form-body-form-name",
          "displayName": "Request Multipart Form-Data Name",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Content-Type": {
          "name": "Content-Type",
          "displayName": "Request Content-Type",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "flow-file-naming-strategy": {
          "name": "flow-file-naming-strategy",
          "displayName": "Response FlowFile Naming Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "max-idle-connections": {
          "name": "max-idle-connections",
          "displayName": "Socket Idle Connections",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "invokehttp-proxy-user": {
          "name": "invokehttp-proxy-user",
          "displayName": "Proxy Username",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Read Timeout": {
          "name": "Read Timeout",
          "displayName": "Socket Read Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Socket Write Timeout": {
          "name": "Socket Write Timeout",
          "displayName": "Socket Write Timeout",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Max Length To Put In Attribute": {
          "name": "Max Length To Put In Attribute",
          "displayName": "Response Body Attribute Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "invokehttp-proxy-password": {
          "name": "invokehttp-proxy-password",
          "displayName": "Proxy Password",
          "identifiesControllerService": false,
          "sensitive": true
        },
        "ignore-response-content": {
          "name": "ignore-response-content",
          "displayName": "Response Body Ignored",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Proxy Port": {
          "name": "Proxy Port",
          "displayName": "Proxy Port",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "SSL Context Service": {
          "name": "SSL Context Service",
          "displayName": "SSL Context Service",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "Digest Authentication": {
          "name": "Digest Authentication",
          "displayName": "Request Digest Authentication Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "HTTP Method": {
          "name": "HTTP Method",
          "displayName": "HTTP Method",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Add Response Headers to Request": {
          "name": "Add Response Headers to Request",
          "displayName": "Response Header Request Attributes Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "oauth2-access-token-provider": {
          "name": "oauth2-access-token-provider",
          "displayName": "Request OAuth2 Access Token Provider",
          "identifiesControllerService": true,
          "sensitive": false
        },
        "Basic Authentication Username": {
          "name": "Basic Authentication Username",
          "displayName": "Request Username",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Include Date Header": {
          "name": "Include Date Header",
          "displayName": "Request Date Header Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Penalize on \"No Retry\"": {
          "name": "Penalize on \"No Retry\"",
          "displayName": "Request Failure Penalization Enabled",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Useragent": {
          "name": "Useragent",
          "displayName": "Request User-Agent",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 0,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": ["No Retry", "Retry", "Original"],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "019954b0-7ae2-3053-a6c8-cf57b7c7cad6",
      "instanceIdentifier": "8761076c-899d-31cc-82f9-b60b4d0dcc7d",
      "name": "Provide API Key",
      "comments": "",
      "position": {
        "x": 4296.0,
        "y": 672.0
      },
      "type": "org.apache.nifi.processors.standard.ReplaceText",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-standard-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Regular Expression": "(?s)(^.*$)",
        "Replacement Value": "grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=#{IBM Cloud API Key}",
        "Evaluation Mode": "Line-by-Line",
        "Text to Prepend": null,
        "Line-by-Line Evaluation Mode": "All",
        "Character Set": "UTF-8",
        "Maximum Buffer Size": "1 MB",
        "Replacement Strategy": "Regex Replace",
        "Text to Append": null
      },
      "propertyDescriptors": {
        "Regular Expression": {
          "name": "Regular Expression",
          "displayName": "Search Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Value": {
          "name": "Replacement Value",
          "displayName": "Replacement Value",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Evaluation Mode": {
          "name": "Evaluation Mode",
          "displayName": "Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Prepend": {
          "name": "Text to Prepend",
          "displayName": "Text to Prepend",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Line-by-Line Evaluation Mode": {
          "name": "Line-by-Line Evaluation Mode",
          "displayName": "Line-by-Line Evaluation Mode",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Character Set": {
          "name": "Character Set",
          "displayName": "Character Set",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Maximum Buffer Size": {
          "name": "Maximum Buffer Size",
          "displayName": "Maximum Buffer Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Replacement Strategy": {
          "name": "Replacement Strategy",
          "displayName": "Replacement Strategy",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Text to Append": {
          "name": "Text to Append",
          "displayName": "Text to Append",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "35a5ccaf-4953-365c-a0e4-8197b087e813",
      "instanceIdentifier": "be1b76f4-81fb-34f9-9779-955a74e42e84",
      "name": "Add Summary to filename",
      "comments": "",
      "position": {
        "x": 3224.0,
        "y": 2056.0
      },
      "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-update-attribute-nar",
        "version": "1.24.0.2.3.13.0-1"
      },
      "properties": {
        "Delete Attributes Expression": null,
        "filename": "${filename:prepend('Summary_')}",
        "Store State": "Do not store state",
        "canonical-value-lookup-cache-size": "100",
        "Stateful Variables Initial Value": null
      },
      "propertyDescriptors": {
        "Delete Attributes Expression": {
          "name": "Delete Attributes Expression",
          "displayName": "Delete Attributes Expression",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "filename": {
          "name": "filename",
          "displayName": "filename",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Store State": {
          "name": "Store State",
          "displayName": "Store State",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "canonical-value-lookup-cache-size": {
          "name": "canonical-value-lookup-cache-size",
          "displayName": "Cache Value Lookup Cache Size",
          "identifiesControllerService": false,
          "sensitive": false
        },
        "Stateful Variables Initial Value": {
          "name": "Stateful Variables Initial Value",
          "displayName": "Stateful Variables Initial Value",
          "identifiesControllerService": false,
          "sensitive": false
        }
      },
      "style": {},
      "schedulingPeriod": "0 sec",
      "schedulingStrategy": "TIMER_DRIVEN",
      "executionNode": "ALL",
      "penaltyDuration": "30 sec",
      "yieldDuration": "1 sec",
      "bulletinLevel": "WARN",
      "runDurationMillis": 25,
      "concurrentlySchedulableTaskCount": 1,
      "autoTerminatedRelationships": [],
      "scheduledState": "ENABLED",
      "retryCount": 10,
      "retriedRelationships": [],
      "backoffMechanism": "PENALIZE_FLOWFILE",
      "maxBackoffPeriod": "10 mins",
      "componentType": "PROCESSOR",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [{
      "identifier": "ebf45201-8d5a-3962-a171-ddf8c3b9a240",
      "instanceIdentifier": "a0e4b8e9-4906-3994-8358-b8618bb8dc58",
      "name": "SetS3Path-WriteToS3",
      "source": {
        "id": "e2439819-b6db-3838-9989-c1dd3b1b2c37",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Set S3 Path",
        "comments": "",
        "instanceIdentifier": "0e84e6e5-2df3-3bc8-8941-5655cd5f2d16"
      },
      "destination": {
        "id": "2ee9d949-0ada-3a11-86b4-c6e87a3d6a7c",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Write To S3",
        "comments": "",
        "instanceIdentifier": "fdaf5583-043d-35dc-b2dc-dbcaaf8885e9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "49238919-71f1-3d5f-b0e9-5ba533fb3046",
      "instanceIdentifier": "8c433f30-1b8d-3636-8bda-432f1e4aafc4",
      "name": "matched_CreateInputAttribute",
      "source": {
        "id": "ea85509b-c9bf-382c-923c-8efaba81aff3",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create inputs attribute",
        "comments": "",
        "instanceIdentifier": "58b1a0a7-de36-351e-bf70-16e09d905e9e"
      },
      "destination": {
        "id": "019954b0-7ae2-3053-a6c8-cf57b7c7cad6",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Provide API Key",
        "comments": "",
        "instanceIdentifier": "8761076c-899d-31cc-82f9-b60b4d0dcc7d"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["matched"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "86c3cac3-2bd4-3eb5-b2db-3c5f8088d166",
      "instanceIdentifier": "939797a5-83b2-3395-86f3-7d607331c399",
      "name": "ListS3-FetchS3",
      "source": {
        "id": "c0fb8219-620d-3f6e-b648-c99e44b47b29",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "List S3",
        "comments": "",
        "instanceIdentifier": "48c24681-9c64-373d-ae3e-6e3485dbb93f"
      },
      "destination": {
        "id": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Fetch S3",
        "comments": "",
        "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "075c60b2-8569-3205-b49b-c66255370db8",
      "instanceIdentifier": "7c463956-f867-3a86-804c-588b780dc9ec",
      "name": "failure_GetIAMToken",
      "source": {
        "id": "fcaa009b-cf90-379f-ac79-ad2fd0e60adc",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Get IAM Token",
        "comments": "",
        "instanceIdentifier": "9b21cc8a-4f7c-3603-a8b0-1e5e3910e535"
      },
      "destination": {
        "id": "fcaa009b-cf90-379f-ac79-ad2fd0e60adc",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Get IAM Token",
        "comments": "",
        "instanceIdentifier": "9b21cc8a-4f7c-3603-a8b0-1e5e3910e535"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["Failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 5440.1572265625,
        "y": 821.4307250976562
      }, {
        "x": 5520.1572265625,
        "y": 877.4307250976562
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "c12d9c6f-c7e4-3c52-9a98-5193bd5b906f",
      "instanceIdentifier": "23638781-13a7-3904-bad1-41d467a8b09c",
      "name": "failure_AddInstructions",
      "source": {
        "id": "2af2fefa-3185-3ef8-b100-99fc9cb822f0",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add Instructions",
        "comments": "",
        "instanceIdentifier": "70bea414-d415-3bb9-8c09-c5f8a859030e"
      },
      "destination": {
        "id": "2af2fefa-3185-3ef8-b100-99fc9cb822f0",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add Instructions",
        "comments": "",
        "instanceIdentifier": "70bea414-d415-3bb9-8c09-c5f8a859030e"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3696.0,
        "y": -640.0
      }, {
        "x": 3768.0,
        "y": -592.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "a20c5763-41e3-375f-b643-f5fd99a23948",
      "instanceIdentifier": "e69c392d-0c1d-37fe-8b8f-973a9558e3ce",
      "name": "failure_WriteToS3",
      "source": {
        "id": "2ee9d949-0ada-3a11-86b4-c6e87a3d6a7c",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Write To S3",
        "comments": "",
        "instanceIdentifier": "fdaf5583-043d-35dc-b2dc-dbcaaf8885e9"
      },
      "destination": {
        "id": "2ee9d949-0ada-3a11-86b4-c6e87a3d6a7c",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Write To S3",
        "comments": "",
        "instanceIdentifier": "fdaf5583-043d-35dc-b2dc-dbcaaf8885e9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3736.0,
        "y": 3640.0
      }, {
        "x": 3808.0,
        "y": 3704.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "23b5e099-a71d-384b-b7d3-3a190301da97",
      "instanceIdentifier": "f9a66083-61f7-3d2a-852a-720f4043bff9",
      "name": "ProvideAPIKey-GetIAMToken",
      "source": {
        "id": "019954b0-7ae2-3053-a6c8-cf57b7c7cad6",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Provide API Key",
        "comments": "",
        "instanceIdentifier": "8761076c-899d-31cc-82f9-b60b4d0dcc7d"
      },
      "destination": {
        "id": "fcaa009b-cf90-379f-ac79-ad2fd0e60adc",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Get IAM Token",
        "comments": "",
        "instanceIdentifier": "9b21cc8a-4f7c-3603-a8b0-1e5e3910e535"
      },
      "labelIndex": 0,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 5160.0,
        "y": 736.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "32e34f8d-95ba-3635-91dc-f3681c0a6bf2",
      "instanceIdentifier": "9dc1b96f-4fc3-399c-b279-9d1779e94c48",
      "name": "SetFilenameMimeTypeAttributes-CreateInputAttribute",
      "source": {
        "id": "543e9f12-6b48-307c-ac4f-6c53799088ba",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Set filename and mime type attributes",
        "comments": "",
        "instanceIdentifier": "3b617fbb-3c5f-383a-b6db-bec268ad51dd"
      },
      "destination": {
        "id": "ea85509b-c9bf-382c-923c-8efaba81aff3",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create inputs attribute",
        "comments": "",
        "instanceIdentifier": "58b1a0a7-de36-351e-bf70-16e09d905e9e"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "60c4ef5d-f899-3dfa-97f6-af43a98ce828",
      "instanceIdentifier": "85230e7d-cb33-3de2-91c3-4a0230814bc4",
      "name": "failure_PrepModelInput",
      "source": {
        "id": "d9afdcfa-b688-35bc-8fa2-4464a981f8c4",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Prep Model Input",
        "comments": "",
        "instanceIdentifier": "6a94efb2-6ab6-3193-886f-d9cb3629c3da"
      },
      "destination": {
        "id": "d9afdcfa-b688-35bc-8fa2-4464a981f8c4",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Prep Model Input",
        "comments": "",
        "instanceIdentifier": "6a94efb2-6ab6-3193-886f-d9cb3629c3da"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3656.0,
        "y": 1008.0
      }, {
        "x": 3696.0,
        "y": 936.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "85c85fe8-2471-37ea-a332-18153e981ac3",
      "instanceIdentifier": "a14087e9-1b38-3ad9-9c57-6d25d63a6965",
      "name": "AddInputsField+JSONFormatting-SetFilenameMimeTypeAttributes",
      "source": {
        "id": "3279fcad-1ee7-3f4d-bb91-fb451113f645",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add inputs field + JSON formatting ",
        "comments": "",
        "instanceIdentifier": "ece0a432-7ace-30e1-9057-aed14b8dd2d5"
      },
      "destination": {
        "id": "543e9f12-6b48-307c-ac4f-6c53799088ba",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Set filename and mime type attributes",
        "comments": "",
        "instanceIdentifier": "3b617fbb-3c5f-383a-b6db-bec268ad51dd"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "5b04b068-cd58-3734-b08c-7ba73107e67b",
      "instanceIdentifier": "9a23a910-5eed-3261-82b8-ceae7afcacae",
      "name": "FetchS3_AddInstructions",
      "source": {
        "id": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Fetch S3",
        "comments": "",
        "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9"
      },
      "destination": {
        "id": "2af2fefa-3185-3ef8-b100-99fc9cb822f0",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add Instructions",
        "comments": "",
        "instanceIdentifier": "70bea414-d415-3bb9-8c09-c5f8a859030e"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "5d50b098-8bab-3b9c-a874-fe23ec199daa",
      "instanceIdentifier": "2961accf-0700-3fe8-911c-bbfad658e2df",
      "name": "GenerateJSONForAttributes-SetS3PathAttribute",
      "source": {
        "id": "39238524-5995-3ea8-9407-bfb755074372",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Generate JSON for attributes",
        "comments": "",
        "instanceIdentifier": "31012080-1848-311c-b965-a8fb3b21cf59"
      },
      "destination": {
        "id": "a24cb5db-6825-3bde-aa7c-e3ffe1cbb916",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "s3.path attribute",
        "comments": "",
        "instanceIdentifier": "232cc618-02a0-3388-b607-54094fe8d5ba"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "2971078c-1f88-3ec0-b8ae-38e11c654fb3",
      "instanceIdentifier": "48f2c24f-b0fd-3380-8ca2-f4dcf9fd13aa",
      "name": "matched_CreateAttributesFromModel",
      "source": {
        "id": "8ccd7d80-1816-3c66-a209-58b1bc5ae6a1",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create attributes from model",
        "comments": "",
        "instanceIdentifier": "1dd47410-153a-3230-b1a4-c68b3a549173"
      },
      "destination": {
        "id": "35a5ccaf-4953-365c-a0e4-8197b087e813",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add Summary to filename",
        "comments": "",
        "instanceIdentifier": "be1b76f4-81fb-34f9-9779-955a74e42e84"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["matched"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "a27368f1-a60f-3132-9023-c6d6f05a8c77",
      "instanceIdentifier": "1dd6e93c-adfa-39bb-94cb-4f83cc3c6add",
      "name": "matched_CreateAccess_TokenAttribute",
      "source": {
        "id": "943b862c-14d7-393a-a7ea-82d68bf9c0aa",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create access_token attribute",
        "comments": "",
        "instanceIdentifier": "540fb47e-7b1d-35d7-863c-07172af8763c"
      },
      "destination": {
        "id": "d9afdcfa-b688-35bc-8fa2-4464a981f8c4",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Prep Model Input",
        "comments": "",
        "instanceIdentifier": "6a94efb2-6ab6-3193-886f-d9cb3629c3da"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["matched"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "3100a167-c61b-3d0b-9a34-5b56c64630a1",
      "instanceIdentifier": "5c08faf9-2800-30e1-8441-a65fa8a5b5af",
      "name": "failure_CallModel",
      "source": {
        "id": "546a8959-5ee3-315d-b7a6-b820a38256e2",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Call Model",
        "comments": "",
        "instanceIdentifier": "3497207d-e69f-3312-b174-5157afc67135"
      },
      "destination": {
        "id": "546a8959-5ee3-315d-b7a6-b820a38256e2",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Call Model",
        "comments": "",
        "instanceIdentifier": "3497207d-e69f-3312-b174-5157afc67135"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["Failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3744.0,
        "y": 1384.0
      }, {
        "x": 3776.0,
        "y": 1448.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "a0fd75b4-3370-3431-90a0-d31fb7059a02",
      "instanceIdentifier": "9c3e679a-2095-3366-9aaa-39e40d2eff4a",
      "name": "response_GetIAMToken",
      "source": {
        "id": "fcaa009b-cf90-379f-ac79-ad2fd0e60adc",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Get IAM Token",
        "comments": "",
        "instanceIdentifier": "9b21cc8a-4f7c-3603-a8b0-1e5e3910e535"
      },
      "destination": {
        "id": "943b862c-14d7-393a-a7ea-82d68bf9c0aa",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create access_token attribute",
        "comments": "",
        "instanceIdentifier": "540fb47e-7b1d-35d7-863c-07172af8763c"
      },
      "labelIndex": 0,
      "zIndex": 0,
      "selectedRelationships": ["Response"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 5160.0,
        "y": 1072.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "2e6de327-5b47-31f7-8133-d2ebfba19078",
      "instanceIdentifier": "63be5e18-6922-3cdf-8374-0aeda4c4bfe7",
      "name": "failure_HandleNewLineCharacters",
      "source": {
        "id": "0ce75bb7-d746-3640-81b7-be71092161e9",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Handle New Line Characters",
        "comments": "",
        "instanceIdentifier": "84fd15de-910a-3cd3-8740-1ca689181ce9"
      },
      "destination": {
        "id": "0ce75bb7-d746-3640-81b7-be71092161e9",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Handle New Line Characters",
        "comments": "",
        "instanceIdentifier": "84fd15de-910a-3cd3-8740-1ca689181ce9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3680.0,
        "y": -304.0
      }, {
        "x": 3744.0,
        "y": -256.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "0c728069-8fcc-3893-ad8e-1f0eef1dabc3",
      "instanceIdentifier": "17201be4-340d-31bb-9e24-ab6095119d08",
      "name": "failure_GenerateJSONForAttributes",
      "source": {
        "id": "39238524-5995-3ea8-9407-bfb755074372",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Generate JSON for attributes",
        "comments": "",
        "instanceIdentifier": "31012080-1848-311c-b965-a8fb3b21cf59"
      },
      "destination": {
        "id": "39238524-5995-3ea8-9407-bfb755074372",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Generate JSON for attributes",
        "comments": "",
        "instanceIdentifier": "31012080-1848-311c-b965-a8fb3b21cf59"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3696.0,
        "y": 2384.0
      }, {
        "x": 3760.0,
        "y": 2432.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "d43ca107-da3a-39fa-a6e0-a6d4818c7211",
      "instanceIdentifier": "4c76090a-177b-3613-8e2f-c57bd93cc8e6",
      "name": "comms.failure_FetchS3",
      "source": {
        "id": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Fetch S3",
        "comments": "",
        "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9"
      },
      "destination": {
        "id": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Fetch S3",
        "comments": "",
        "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["comms.failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3753.6988640270897,
        "y": -885.6902521706015
      }, {
        "x": 3895.0375921699438,
        "y": -822.5894317626953
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "d84fe8f8-49c8-3f52-b667-d2e48793b8d2",
      "instanceIdentifier": "24c2f29a-2bbd-3d94-b9c2-9a46c98ddaa3",
      "name": "AddSummaryToFilename-GenerateJSONForAttributes",
      "source": {
        "id": "35a5ccaf-4953-365c-a0e4-8197b087e813",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add Summary to filename",
        "comments": "",
        "instanceIdentifier": "be1b76f4-81fb-34f9-9779-955a74e42e84"
      },
      "destination": {
        "id": "39238524-5995-3ea8-9407-bfb755074372",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Generate JSON for attributes",
        "comments": "",
        "instanceIdentifier": "31012080-1848-311c-b965-a8fb3b21cf59"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "18a18839-7ef6-3a9b-8860-fdd7a3a60360",
      "instanceIdentifier": "62f9e329-567b-3bcc-8872-d9b0b98e917d",
      "name": "failure_ProvideAPIKey",
      "source": {
        "id": "019954b0-7ae2-3053-a6c8-cf57b7c7cad6",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Provide API Key",
        "comments": "",
        "instanceIdentifier": "8761076c-899d-31cc-82f9-b60b4d0dcc7d"
      },
      "destination": {
        "id": "019954b0-7ae2-3053-a6c8-cf57b7c7cad6",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Provide API Key",
        "comments": "",
        "instanceIdentifier": "8761076c-899d-31cc-82f9-b60b4d0dcc7d"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 4754.8115234375,
        "y": 705.7615966796875
      }, {
        "x": 4797.8115234375,
        "y": 666.7615966796875
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "48ebfbd2-be64-3f19-93f0-50758e5edb95",
      "instanceIdentifier": "5dd4f9d1-e3f8-33d9-9b13-242107321020",
      "name": "failure_CreateInputAttribute",
      "source": {
        "id": "ea85509b-c9bf-382c-923c-8efaba81aff3",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create inputs attribute",
        "comments": "",
        "instanceIdentifier": "58b1a0a7-de36-351e-bf70-16e09d905e9e"
      },
      "destination": {
        "id": "ea85509b-c9bf-382c-923c-8efaba81aff3",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create inputs attribute",
        "comments": "",
        "instanceIdentifier": "58b1a0a7-de36-351e-bf70-16e09d905e9e"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3630.73388671875,
        "y": 670.0320434570312
      }, {
        "x": 3654.73388671875,
        "y": 606.0320434570312
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "2e9b03dc-cc0e-38df-9331-2757dbe6d148",
      "instanceIdentifier": "0efa064f-85af-3264-93c7-82c7da358715",
      "name": "failure_CreateAccess_TokenAttribute",
      "source": {
        "id": "943b862c-14d7-393a-a7ea-82d68bf9c0aa",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create access_token attribute",
        "comments": "",
        "instanceIdentifier": "540fb47e-7b1d-35d7-863c-07172af8763c"
      },
      "destination": {
        "id": "943b862c-14d7-393a-a7ea-82d68bf9c0aa",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create access_token attribute",
        "comments": "",
        "instanceIdentifier": "540fb47e-7b1d-35d7-863c-07172af8763c"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 4757.3666882461375,
        "y": 1041.0875724192415
      }, {
        "x": 4813.8115234375,
        "y": 994.7615966796875
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "92be1f5b-2ec2-3acb-919b-eaca185d3408",
      "instanceIdentifier": "cd10077a-d181-3c17-a502-01d856dfd4ab",
      "name": "failure_AddInputsField+JSONFormatting",
      "source": {
        "id": "3279fcad-1ee7-3f4d-bb91-fb451113f645",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add inputs field + JSON formatting ",
        "comments": "",
        "instanceIdentifier": "ece0a432-7ace-30e1-9057-aed14b8dd2d5"
      },
      "destination": {
        "id": "3279fcad-1ee7-3f4d-bb91-fb451113f645",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add inputs field + JSON formatting ",
        "comments": "",
        "instanceIdentifier": "ece0a432-7ace-30e1-9057-aed14b8dd2d5"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3688.0,
        "y": 24.0
      }, {
        "x": 3744.0,
        "y": 80.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "091ad47c-be05-3ee5-ab14-38e5918ab3f4",
      "instanceIdentifier": "6d18bf70-54ef-36b1-b9ce-f7d917cfec74",
      "name": "S3PathAttribute-SetS3Path",
      "source": {
        "id": "a24cb5db-6825-3bde-aa7c-e3ffe1cbb916",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "s3.path attribute",
        "comments": "",
        "instanceIdentifier": "232cc618-02a0-3388-b607-54094fe8d5ba"
      },
      "destination": {
        "id": "e2439819-b6db-3838-9989-c1dd3b1b2c37",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Set S3 Path",
        "comments": "",
        "instanceIdentifier": "0e84e6e5-2df3-3bc8-8941-5655cd5f2d16"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "209de0d4-c186-34b4-9c0c-c844b7baafdd",
      "instanceIdentifier": "96c15b72-5e98-37a2-8f0c-40a621c0d551",
      "name": "response_CallModel",
      "source": {
        "id": "546a8959-5ee3-315d-b7a6-b820a38256e2",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Call Model",
        "comments": "",
        "instanceIdentifier": "3497207d-e69f-3312-b174-5157afc67135"
      },
      "destination": {
        "id": "8ccd7d80-1816-3c66-a209-58b1bc5ae6a1",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create attributes from model",
        "comments": "",
        "instanceIdentifier": "1dd47410-153a-3230-b1a4-c68b3a549173"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["Response"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "21d5914b-4bc5-320d-b695-91cd80428a23",
      "instanceIdentifier": "533f093b-59bb-3d38-a5d1-4e47a0409452",
      "name": "PrepModelInput-CallModel",
      "source": {
        "id": "d9afdcfa-b688-35bc-8fa2-4464a981f8c4",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Prep Model Input",
        "comments": "",
        "instanceIdentifier": "6a94efb2-6ab6-3193-886f-d9cb3629c3da"
      },
      "destination": {
        "id": "546a8959-5ee3-315d-b7a6-b820a38256e2",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Call Model",
        "comments": "",
        "instanceIdentifier": "3497207d-e69f-3312-b174-5157afc67135"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "8fc47250-ba4f-3969-a22c-c1de7374b09d",
      "instanceIdentifier": "552a77eb-7ef8-34f6-8fab-64de0ffd9f65",
      "name": "AddInstructions-HandleNewLineCharacters",
      "source": {
        "id": "2af2fefa-3185-3ef8-b100-99fc9cb822f0",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add Instructions",
        "comments": "",
        "instanceIdentifier": "70bea414-d415-3bb9-8c09-c5f8a859030e"
      },
      "destination": {
        "id": "0ce75bb7-d746-3640-81b7-be71092161e9",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Handle New Line Characters",
        "comments": "",
        "instanceIdentifier": "84fd15de-910a-3cd3-8740-1ca689181ce9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "976a904f-535e-32e8-9664-db07138569b0",
      "instanceIdentifier": "e85a7bb2-1639-3a51-9619-f1c8e41011c1",
      "name": "failure_FetchS3",
      "source": {
        "id": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Fetch S3",
        "comments": "",
        "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9"
      },
      "destination": {
        "id": "a1cb2538-9075-3a3f-bc11-020dce29ec21",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Fetch S3",
        "comments": "",
        "instanceIdentifier": "e8392cf8-6269-3a7b-94b7-55a6089b44a9"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3752.689952894277,
        "y": -905.6127985573203
      }, {
        "x": 3895.0375921699438,
        "y": -958.5894317626953
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "daa3e5b7-8694-3eaf-98a5-c8fcc8bcd0ea",
      "instanceIdentifier": "f8f63b4e-6a11-381a-b556-19da8f0eb558",
      "name": "HandleNewLineCharacters-AddInputsField+JSONFormatting",
      "source": {
        "id": "0ce75bb7-d746-3640-81b7-be71092161e9",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Handle New Line Characters",
        "comments": "",
        "instanceIdentifier": "84fd15de-910a-3cd3-8740-1ca689181ce9"
      },
      "destination": {
        "id": "3279fcad-1ee7-3f4d-bb91-fb451113f645",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Add inputs field + JSON formatting ",
        "comments": "",
        "instanceIdentifier": "ece0a432-7ace-30e1-9057-aed14b8dd2d5"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["success"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "4fa9157f-08dd-3810-82b5-5c1ffb709e52",
      "instanceIdentifier": "500d950a-e341-378e-b74f-cac2ba8b32ae",
      "name": "failure_CreateAttributesFromModel",
      "source": {
        "id": "8ccd7d80-1816-3c66-a209-58b1bc5ae6a1",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create attributes from model",
        "comments": "",
        "instanceIdentifier": "1dd47410-153a-3230-b1a4-c68b3a549173"
      },
      "destination": {
        "id": "8ccd7d80-1816-3c66-a209-58b1bc5ae6a1",
        "type": "PROCESSOR",
        "groupId": "b68711d3-671b-370e-93b3-40a68777800e",
        "name": "Create attributes from model",
        "comments": "",
        "instanceIdentifier": "1dd47410-153a-3230-b1a4-c68b3a549173"
      },
      "labelIndex": 1,
      "zIndex": 0,
      "selectedRelationships": ["failure"],
      "backPressureObjectThreshold": 10000,
      "backPressureDataSizeThreshold": "1 GB",
      "flowFileExpiration": "0 sec",
      "prioritizers": [],
      "bends": [{
        "x": 3696.0,
        "y": 1736.0
      }, {
        "x": 3760.0,
        "y": 1784.0
      }],
      "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute": "",
      "loadBalanceCompression": "DO_NOT_COMPRESS",
      "componentType": "CONNECTION",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }],
    "labels": [{
      "identifier": "e80e5704-d997-3213-a0dd-cdf0b53d473b",
      "instanceIdentifier": "59c22b0c-b96e-3a0c-8a1c-42c0c7c6cd0e",
      "position": {
        "x": 2704.0,
        "y": 1016.0
      },
      "label": "Prep Model Input: This processor uses the parameter \n\"watsonx Model Input\". Make sure you have entered your \nIBM Project ID as part of the parameter's value.\n\nThe default LLM is \"ibm/granite-13b-chat-v1\", but the LLM \nand its attributes can be changed via the parameter.",
      "zIndex": 0,
      "width": 464.0,
      "height": 120.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "7f5540e1-6cb7-3b49-a19f-211a72cead17",
      "instanceIdentifier": "320ec881-a737-3d97-9e25-a7cf25deab88",
      "position": {
        "x": 2680.0,
        "y": -608.0
      },
      "label": "Add Instructions: Provide custom instructions to output a summary of\nthe text data.",
      "zIndex": 0,
      "width": 488.0,
      "height": 48.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "c620b78c-82cd-3575-9788-536e89907a9d",
      "instanceIdentifier": "a54a4b4a-97b5-3bee-9399-338d61691733",
      "position": {
        "x": 4168.0,
        "y": 608.0
      },
      "label": "Get IAM token from IBM using your API Key",
      "zIndex": 0,
      "width": 1504.0,
      "height": 536.0,
      "style": {
        "font-size": "16px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "eea5df17-96e0-3b34-b53e-eb33508345e0",
      "instanceIdentifier": "78cbd1e7-fc41-35be-8823-9e573f009a90",
      "position": {
        "x": 2704.0,
        "y": -1264.0
      },
      "label": "List S3: This processor retrieves a listing of the text files from S3.",
      "zIndex": 0,
      "width": 456.0,
      "height": 48.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "a509e861-bfd8-3e82-9ca1-94de3a4b9341",
      "instanceIdentifier": "ff3b53db-adb6-35b0-b02b-dd90e7d7c442",
      "position": {
        "x": 2792.0,
        "y": -352.0
      },
      "label": "These processors prepare the input data for the model.",
      "zIndex": 0,
      "width": 1192.0,
      "height": 1208.0,
      "style": {
        "font-size": "16px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "598500ef-c3b6-3443-9ed6-27cc54216038",
      "instanceIdentifier": "67d890d6-bea2-3fd4-87c3-ab32978203a8",
      "position": {
        "x": 2656.0,
        "y": 3024.0
      },
      "label": "s3.path attribute & Set S3 Path:\nThese processors set the S3 path\n of the target destination.",
      "zIndex": 0,
      "width": 456.0,
      "height": 88.0,
      "style": {
        "font-size": "16px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "735dc151-4149-362c-ba27-7313e193c5d8",
      "instanceIdentifier": "d259f1bb-14b5-3ac9-b298-03f8309858d5",
      "position": {
        "x": 2648.0,
        "y": 3672.0
      },
      "label": "Write To S3: This processor writes the summary data files to the specified\ntarget destination S3 bucket.",
      "zIndex": 0,
      "width": 504.0,
      "height": 72.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "12b76fdc-1887-3a64-8749-40963fc99b94",
      "instanceIdentifier": "1cca43ab-a808-3926-a421-832658d082a7",
      "position": {
        "x": 2704.0,
        "y": 1416.0
      },
      "label": "Call Model: This processor invokes the watsonx.ai model.",
      "zIndex": 0,
      "width": 456.0,
      "height": 64.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "7a45ed08-49af-3d1b-a9fc-bf39924df30a",
      "instanceIdentifier": "f589bdae-612f-318e-a7e1-7e66d8f3a7e5",
      "position": {
        "x": 3824.0,
        "y": 3576.0
      },
      "label": "Define a KPI on this connection to monitor \nfailed S3 write operations.",
      "zIndex": 0,
      "width": 320.0,
      "height": 56.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "91c2284f-0794-388d-989e-d82ca81fed89",
      "instanceIdentifier": "6945aa6c-4d70-32da-8e2a-a49b745999ba",
      "position": {
        "x": 2776.0,
        "y": -920.0
      },
      "label": "Fetch S3: This processor retrieves the text files from S3.",
      "zIndex": 0,
      "width": 384.0,
      "height": 48.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "34e274f9-016a-3743-bab5-a3298d92eabf",
      "instanceIdentifier": "11ddc6bd-2e73-3f89-bc75-48840e046238",
      "position": {
        "x": 2648.0,
        "y": 1688.0
      },
      "label": "These processors take the model's output and convert it into simple \nJSON structure.",
      "zIndex": 0,
      "width": 1256.0,
      "height": 864.0,
      "style": {
        "font-size": "16px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "7200e3b1-517b-3185-b138-03d52ef326b1",
      "instanceIdentifier": "077dff40-9b8e-345f-853e-ea3ad38db6c2",
      "position": {
        "x": 3072.0,
        "y": -1504.0
      },
      "label": "This flow consumes text data from a source S3 location and\ninvokes a large language model in IBM watsonx.ai to summarize \nthe input data. The response from the model is written as text to a \ndestination S3 location.",
      "zIndex": 0,
      "width": 584.0,
      "height": 136.0,
      "style": {
        "font-size": "18px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }, {
      "identifier": "5306ee29-354b-3e2e-8c3c-81894dfb4ad7",
      "instanceIdentifier": "a2b63fd2-115f-1a5d-9365-1c4de3103396",
      "position": {
        "x": 3656.0,
        "y": -1304.0
      },
      "label": "To trigger the flow, create a sample text file \"forest.txt\" (with the following content) and upload it to your source S3 location:\n\n---------------------------------------------------------------------------------------------------------------------------------------------------------------\nA forest is an area of land dominated by trees. Hundreds of definitions of forest are used throughout the world, incorporating factors \nsuch as tree density, tree height, land use, legal standing, and ecological function. The United Nations' Food and Agriculture Organization (FAO) \ndefines a forest as, Land spanning more than 0.5 hectares with trees higher than 5 meters and a canopy cover of more than 10 percent, \nor trees able to reach these thresholds in situ. It does not include land that is predominantly under agricultural or urban use.\n----------------------------------------------------------------------------------------------------------------------------------------------------------------",
      "zIndex": 0,
      "width": 928.0,
      "height": 176.0,
      "style": {
        "font-size": "14px"
      },
      "componentType": "LABEL",
      "groupIdentifier": "b68711d3-671b-370e-93b3-40a68777800e"
    }],
    "funnels": [],
    "controllerServices": [],
    "variables": {},
    "parameterContextName": "s3-to-ibm-watsonx",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "logFileSuffix": "",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {
    "s3-to-ibm-watsonx": {
      "name": "s3-to-ibm-watsonx",
      "parameters": [{
        "name": "CDP Workload User Password",
        "description": "Specify the password of the CDP machine user or workload user you're using to authenticate against the object stores.",
        "sensitive": true,
        "provided": false
      }, {
        "name": "CDP Workload User",
        "description": "Specify the CDP machine user or workload username that you want to use to authenticate to the object stores.  Ensure this user has the appropriate access rights to the object store locations in Ranger or IDBroker.",
        "sensitive": false,
        "provided": false
      }, {
        "name": "Destination S3 Bucket",
        "description": "Specify the name of the destination S3 bucket you want to write to.\n\nThe full path will be constructed out of\ns3a://#{Destination S3 Bucket}/#{Destination S3 Path}",
        "sensitive": false,
        "provided": false
      }, {
        "name": "watsonx Model Input",
        "description": "Specify the model input body in JSON format. You must enter your IBM project ID. The default  LLM model used is \"ibm/granite-13b-chat-v1\". \n\nDo not modify \"input\" attribute. Update other attributes as necessary.",
        "sensitive": false,
        "provided": false,
        "value": "{\n  \"model_id\": \"ibm/granite-13b-chat-v1\",\n  \"input\": \"${inputs}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 512,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"<Specify your IBM Project ID>\"\n}"
      }, {
        "name": "Source S3 Bucket",
        "description": "Specify the name of the source S3 bucket you want to read from.",
        "sensitive": false,
        "provided": false
      }, {
        "name": "watsonx Model URL",
        "description": "Specify the IBM watsonx model URL. The default value is \"https://us-south.ml.cloud.ibm.com/ml/v1-beta/generation/text?version=2023-05-29\".",
        "sensitive": false,
        "provided": false,
        "value": "https://us-south.ml.cloud.ibm.com/ml/v1-beta/generation/text?version=2023-05-29"
      }, {
        "name": "IBM Cloud API Key",
        "description": "Specify the IBM Cloud API Key needed for the IAM token request.",
        "sensitive": false,
        "provided": false
      }, {
        "name": "CDPEnvironment",
        "description": "The CDP Environment configuration resources.",
        "sensitive": false,
        "provided": false,
        "value": "/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"
      }, {
        "name": "Destination S3 Path",
        "description": "Specify the path within the destination bucket where you want to write to.\n\nThe full path will be constructed out of\ns3a://#{Destination S3 Bucket}/#{Destination S3 Path}",
        "sensitive": false,
        "provided": false
      }, {
        "name": "Source S3 Path",
        "description": "Specify the path within the source bucket where you want to read files from.",
        "sensitive": false,
        "provided": false
      }],
      "inheritedParameterContexts": [],
      "componentType": "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
