cloudera_watsonx_readyflow.json
{"flowContents":{"identifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","instanceIdentifier":"649e4d9d-018c-1000-0000-000029d981a5","name":"cloudera_watsonx_flow","comments":"","position":{"x":816.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"028f72f0-3df1-33dd-b511-332ba758b6a5","instanceIdentifier":"289232da-ab2a-36b8-8f41-823ed8927773","name":"InvokeHTTP-GetIAMToken","comments":"","position":{"x":1256.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"30 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://iam.cloud.ibm.com/identity/token","form-body-form-name":null,"Content-Type":"application/x-www-form-urlencoded","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"False","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"18566d56-203e-306f-8ca6-5747c8090be1","instanceIdentifier":"21a15009-7393-343c-926b-5e1a105141a8","name":"ListS3-InputDir","comments":"","position":{"x":-64.0,"y":-256.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"list-type":"2","et-initial-listing-target":"all","Access Key":"#{s3_access_key}","prefix":"#{s3_input_path}","record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{s3_secret_access_key}","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{s3_bucket}","Communications Timeout":"30 secs","Region":"us-west-2","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a415324c-7acf-38be-a8d7-e5be0c08ea22","instanceIdentifier":"18cb1d85-7c97-39f9-a641-bb54dc74c6a9","name":"PutS3Object-StoreModelOutput","comments":"","position":{"x":656.0,"y":2488.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{s3_access_key}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{s3_secret_access_key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"#{s3_output_path}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{s3_bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","instanceIdentifier":"29b25726-948d-3021-a518-b913e0336185","name":"InvokeHTTP-CallModel","comments":"","position":{"x":-64.0,"y":1736.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"60 secs","send-message-body":"true","Authorization":"Bearer ${access_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{watsonx_model_url}","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"60 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a62cbd37-3e81-39a2-97ed-d0e7c55f4aac","instanceIdentifier":"4558291d-1103-3dcd-a55d-ff22c34d5ec0","name":"ReplaceText-PrepModelInput","comments":"","position":{"x":-64.0,"y":1416.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"#{model_input}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"17cb1cb9-8a16-34df-b561-f51f589dab43","instanceIdentifier":"de176b51-d74b-3899-850b-b382f2357681","name":"ReplaceText","comments":"","position":{"x":-64.0,"y":760.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":"{\"inputs\":\"","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\"}"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","instanceIdentifier":"c11345b0-8ee1-3b16-b14d-2351e9d49923","name":"AttributesToJSON","comments":"","position":{"x":-64.0,"y":2480.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"model_id, created_at, generated_text, generated_token_count, input_token_count, filename, inputs, invokehttp.request.url, s3.bucket","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"6939922e-8c8e-3330-9c2d-d1059b73cd55","instanceIdentifier":"3e2242a2-40c3-3baa-b84c-657d91ea3c8f","name":"ReplaceText","comments":"","position":{"x":-64.0,"y":560.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Regular Expression":"\n","Replacement Value":"\\\\\\\\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","instanceIdentifier":"72faaadf-4c86-3134-9c09-364cca6a8d9a","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":1192.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Destination":"flowfile-attribute","inputs":"$.inputs","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"12536db1-8203-3e54-87e1-fb809887c50c","instanceIdentifier":"014fcaf6-1516-321a-ba29-6cb27387cf57","name":"ReplaceText-Instruction","comments":"","position":{"x":-64.0,"y":248.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"You are an insurance claim processor. Read the following letter from an insurance customer and extract the requestor name, the requestor email, the date of the request, the policy number, the insurance plan name, and the reimbursement amount. Format the output as shown in the example.\n\nExample Input:\n$1\n\nExample Output:\nname: Mike Hawthorne\nemail: hawm1234@gmail.com\ndate: September 28, 2023\npolicy number: 175032218\ninsurance plan name: SpecialDentalPlus\nreimbursement amount: $540.25\n\nInput:\n\n\nOutput:","Evaluation Mode":"Entire text","Text to Prepend":"Please provide a summary of the following text. Do not add any information that is not mentioned in the text below.\n\nInput:\n","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Surround","Text to Append":"\nOutput:\n"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"184aed51-ca62-3511-991e-a7c9da3b7408","instanceIdentifier":"9d6747f6-f91f-3cc2-8115-6c5b77ab16fe","name":"UpdateAttribute","comments":"","position":{"x":-64.0,"y":2264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:prepend('Summary_')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","instanceIdentifier":"1b12209a-dfb0-3312-8da1-7d560b235341","name":"EvaluateJsonPath","comments":"","position":{"x":600.0,"y":1408.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"access_token":"$.access_token","Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"access_token":{"name":"access_token","displayName":"access_token","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"ae7bb439-80f9-3f0d-a708-d5df667a41a8","instanceIdentifier":"e3dd5f8d-ebf7-3385-bc68-d7d5d4f12a79","name":"ReplaceText","comments":"","position":{"x":600.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=#{ibm_api_key}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"689b5ce1-7bc6-3f21-81db-59a201db0597","instanceIdentifier":"2c265b84-fb89-3a70-b015-cf751bc86ffd","name":"UpdateAttribute","comments":"","position":{"x":-64.0,"y":976.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringAfterLast('/')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Mime Type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"8febe063-39d4-3caa-9ca0-0808ec0b03ee","instanceIdentifier":"0e44c543-ef54-354f-a6cb-511d197286e6","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Destination":"flowfile-attribute","Return Type":"json","created_at":"$.created_at","Null Value Representation":"empty string","model_id":"$.model_id","generated_token_count":"$.results[0].generated_token_count","generated_text":"$.results[0].generated_text","Path Not Found Behavior":"ignore","input_token_count":"$.results[0].input_token_count"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"created_at":{"name":"created_at","displayName":"created_at","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"model_id":{"name":"model_id","displayName":"model_id","identifiesControllerService":false,"sensitive":false},"generated_token_count":{"name":"generated_token_count","displayName":"generated_token_count","identifiesControllerService":false,"sensitive":false},"generated_text":{"name":"generated_text","displayName":"generated_text","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"input_token_count":{"name":"input_token_count","displayName":"input_token_count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","instanceIdentifier":"6e43b8d2-4fb1-3fa3-889e-22e4e698bb45","name":"FetchS3-InputText","comments":"","position":{"x":-64.0,"y":-64.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{s3_access_key}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","Secret Key":"#{s3_secret_access_key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9271ed9b-d847-3aa6-b431-993581b51cd6","instanceIdentifier":"f569f239-5540-3774-b34c-357ffe0e1b40","name":"","source":{"id":"184aed51-ca62-3511-991e-a7c9da3b7408","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"UpdateAttribute","comments":"","instanceIdentifier":"9d6747f6-f91f-3cc2-8115-6c5b77ab16fe"},"destination":{"id":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"AttributesToJSON","comments":"","instanceIdentifier":"c11345b0-8ee1-3b16-b14d-2351e9d49923"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a85bffcb-13a2-3ecd-a138-632206cecfb3","instanceIdentifier":"3c803fdd-6c9f-3f7b-9c26-503b7ad6fe54","name":"","source":{"id":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"72faaadf-4c86-3134-9c09-364cca6a8d9a"},"destination":{"id":"f27bf722-9179-32c6-ad3b-cc9e1a8e41d8","type":"FUNNEL","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"Funnel","comments":"","instanceIdentifier":"88ef05a4-2988-3473-b232-469630074c79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"828ae1dd-e33e-3602-aca1-ba58e1025f8d","instanceIdentifier":"0f18c011-beb5-3632-baa3-5915ca7255b7","name":"","source":{"id":"8febe063-39d4-3caa-9ca0-0808ec0b03ee","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0e44c543-ef54-354f-a6cb-511d197286e6"},"destination":{"id":"184aed51-ca62-3511-991e-a7c9da3b7408","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"UpdateAttribute","comments":"","instanceIdentifier":"9d6747f6-f91f-3cc2-8115-6c5b77ab16fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"55e8aa72-0882-3f17-b80e-a3325223bdfe","instanceIdentifier":"7cae96ab-0790-387a-a1e8-4173eb2ed9e2","name":"","source":{"id":"028f72f0-3df1-33dd-b511-332ba758b6a5","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"InvokeHTTP-GetIAMToken","comments":"","instanceIdentifier":"289232da-ab2a-36b8-8f41-823ed8927773"},"destination":{"id":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1b12209a-dfb0-3312-8da1-7d560b235341"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a17d1996-ec7f-33e1-82bd-5c3cf50a99b0","instanceIdentifier":"2d89611c-ae25-36bb-bb44-748e48733e01","name":"","source":{"id":"17cb1cb9-8a16-34df-b561-f51f589dab43","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText","comments":"","instanceIdentifier":"de176b51-d74b-3899-850b-b382f2357681"},"destination":{"id":"689b5ce1-7bc6-3f21-81db-59a201db0597","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"UpdateAttribute","comments":"","instanceIdentifier":"2c265b84-fb89-3a70-b015-cf751bc86ffd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"d8099549-d8bc-3361-bcbf-379f58b7df5e","instanceIdentifier":"1b3cf9ba-0e7c-37d0-9e19-fdaa4e34a68c","name":"","source":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"FetchS3-InputText","comments":"","instanceIdentifier":"6e43b8d2-4fb1-3fa3-889e-22e4e698bb45"},"destination":{"id":"8ed090f7-4adb-3873-b805-1dbd56e47497","type":"FUNNEL","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"Funnel","comments":"","instanceIdentifier":"f101c7cb-e1ca-366d-95fb-229f8898b473"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"3ca69bbe-4987-3115-af7b-cbffff2b49c5","instanceIdentifier":"0b3badb0-d553-36ef-8b49-242ca20eff72","name":"","source":{"id":"028f72f0-3df1-33dd-b511-332ba758b6a5","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"InvokeHTTP-GetIAMToken","comments":"","instanceIdentifier":"289232da-ab2a-36b8-8f41-823ed8927773"},"destination":{"id":"6e48c3fd-fc60-3055-b862-22468ea274e3","type":"FUNNEL","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"Funnel","comments":"","instanceIdentifier":"b7d836df-95cc-3041-bc50-12ab69ab768f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"ea7624f7-d68c-3844-8a5c-a4e80da14109","instanceIdentifier":"c684b958-8e66-3ac7-8c44-9d01ad94878f","name":"","source":{"id":"a62cbd37-3e81-39a2-97ed-d0e7c55f4aac","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText-PrepModelInput","comments":"","instanceIdentifier":"4558291d-1103-3dcd-a55d-ff22c34d5ec0"},"destination":{"id":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"InvokeHTTP-CallModel","comments":"","instanceIdentifier":"29b25726-948d-3021-a518-b913e0336185"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"f9d1beda-ff8c-3788-b2d2-172bdb87da20","instanceIdentifier":"b6d013ca-3930-3017-b28d-d7d0e627d2e4","name":"","source":{"id":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1b12209a-dfb0-3312-8da1-7d560b235341"},"destination":{"id":"6e48c3fd-fc60-3055-b862-22468ea274e3","type":"FUNNEL","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"Funnel","comments":"","instanceIdentifier":"b7d836df-95cc-3041-bc50-12ab69ab768f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"e1909d88-a2d0-3153-a4ef-b5c21f10352d","instanceIdentifier":"ff146586-ccef-3933-9f33-16b1864d2475","name":"","source":{"id":"18566d56-203e-306f-8ca6-5747c8090be1","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ListS3-InputDir","comments":"","instanceIdentifier":"21a15009-7393-343c-926b-5e1a105141a8"},"destination":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"FetchS3-InputText","comments":"","instanceIdentifier":"6e43b8d2-4fb1-3fa3-889e-22e4e698bb45"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"7fd6d236-cf85-3164-a157-77529d332c2e","instanceIdentifier":"803a464d-e59a-3ff9-ad60-9a313f95db60","name":"","source":{"id":"5c8edcb7-0251-3ad5-9cf3-5a1f248112a5","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"FetchS3-InputText","comments":"","instanceIdentifier":"6e43b8d2-4fb1-3fa3-889e-22e4e698bb45"},"destination":{"id":"12536db1-8203-3e54-87e1-fb809887c50c","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText-Instruction","comments":"","instanceIdentifier":"014fcaf6-1516-321a-ba29-6cb27387cf57"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"73408352-75cc-3991-b821-d66fa072ad77","instanceIdentifier":"7372c2cf-50e7-369f-9dae-1df122b299f5","name":"","source":{"id":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"InvokeHTTP-CallModel","comments":"","instanceIdentifier":"29b25726-948d-3021-a518-b913e0336185"},"destination":{"id":"8febe063-39d4-3caa-9ca0-0808ec0b03ee","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0e44c543-ef54-354f-a6cb-511d197286e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a54cceaf-c54b-3c7d-976a-0563126b1f96","instanceIdentifier":"61b88d2d-0778-337b-b52c-e082584940fe","name":"","source":{"id":"ae7bb439-80f9-3f0d-a708-d5df667a41a8","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText","comments":"","instanceIdentifier":"e3dd5f8d-ebf7-3385-bc68-d7d5d4f12a79"},"destination":{"id":"028f72f0-3df1-33dd-b511-332ba758b6a5","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"InvokeHTTP-GetIAMToken","comments":"","instanceIdentifier":"289232da-ab2a-36b8-8f41-823ed8927773"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"161b9249-8f46-3b47-a7fc-7e8c1c4b37b3","instanceIdentifier":"3dcfa343-b691-3d19-8e64-8f84d0de03a0","name":"","source":{"id":"6939922e-8c8e-3330-9c2d-d1059b73cd55","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText","comments":"","instanceIdentifier":"3e2242a2-40c3-3baa-b84c-657d91ea3c8f"},"destination":{"id":"17cb1cb9-8a16-34df-b561-f51f589dab43","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText","comments":"","instanceIdentifier":"de176b51-d74b-3899-850b-b382f2357681"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"97d9aea8-701c-3180-b393-aa49a1868ce9","instanceIdentifier":"df213ff5-9883-3dbb-9996-1c7f605eadf2","name":"","source":{"id":"12536db1-8203-3e54-87e1-fb809887c50c","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText-Instruction","comments":"","instanceIdentifier":"014fcaf6-1516-321a-ba29-6cb27387cf57"},"destination":{"id":"6939922e-8c8e-3330-9c2d-d1059b73cd55","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText","comments":"","instanceIdentifier":"3e2242a2-40c3-3baa-b84c-657d91ea3c8f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"6d30eb6c-f114-3bec-ac1b-5f760f37864f","instanceIdentifier":"f85b05f8-a386-391f-a4a2-702ad4e2ad96","name":"","source":{"id":"1b907fe4-7eb9-348c-b87a-74abbfd57b86","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"InvokeHTTP-CallModel","comments":"","instanceIdentifier":"29b25726-948d-3021-a518-b913e0336185"},"destination":{"id":"dece487b-eec2-3fd2-b53b-9e8ce35725b1","type":"FUNNEL","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"Funnel","comments":"","instanceIdentifier":"4041ce87-45b5-3f90-9f72-549545f7c877"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"9253d705-1561-3199-8f42-b92b03aea776","instanceIdentifier":"7d558b11-d89b-3b92-a0ae-90dfb8786f10","name":"","source":{"id":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"72faaadf-4c86-3134-9c09-364cca6a8d9a"},"destination":{"id":"ae7bb439-80f9-3f0d-a708-d5df667a41a8","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText","comments":"","instanceIdentifier":"e3dd5f8d-ebf7-3385-bc68-d7d5d4f12a79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"77802bf6-ccb1-3d59-97ba-6df4ae918cfb","instanceIdentifier":"66cd019a-e582-3ebe-9db3-968b2e01a99c","name":"","source":{"id":"689b5ce1-7bc6-3f21-81db-59a201db0597","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"UpdateAttribute","comments":"","instanceIdentifier":"2c265b84-fb89-3a70-b015-cf751bc86ffd"},"destination":{"id":"b335560b-28cb-3e35-b98d-7f32e89f0c5d","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"72faaadf-4c86-3134-9c09-364cca6a8d9a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"c23f6ba8-ba17-362a-8f06-9b7207dc2ce1","instanceIdentifier":"31ec9f90-3112-352f-bb3c-725db7956daf","name":"","source":{"id":"cc58d9bc-cfba-3ab2-b57b-eb55efbda008","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1b12209a-dfb0-3312-8da1-7d560b235341"},"destination":{"id":"a62cbd37-3e81-39a2-97ed-d0e7c55f4aac","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"ReplaceText-PrepModelInput","comments":"","instanceIdentifier":"4558291d-1103-3dcd-a55d-ff22c34d5ec0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a804d526-333f-3cd8-908f-52d97cf5ee32","instanceIdentifier":"eed44979-cfcd-3bf3-b44f-2f9b93a2e012","name":"","source":{"id":"a415324c-7acf-38be-a8d7-e5be0c08ea22","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"PutS3Object-StoreModelOutput","comments":"","instanceIdentifier":"18cb1d85-7c97-39f9-a641-bb54dc74c6a9"},"destination":{"id":"3027ee74-1a94-3a04-bfab-5e35c84a2e78","type":"FUNNEL","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"Funnel","comments":"","instanceIdentifier":"4e2c9e65-38e3-35a2-b1ee-a0ff00e43105"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"8dbf0996-655c-3c92-89e0-426eb66570a2","instanceIdentifier":"dadfc2e4-797b-3219-81a9-2be17642d9b4","name":"","source":{"id":"5034b68c-8b0d-3a6e-8322-e4265f0c34bd","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"AttributesToJSON","comments":"","instanceIdentifier":"c11345b0-8ee1-3b16-b14d-2351e9d49923"},"destination":{"id":"a415324c-7acf-38be-a8d7-e5be0c08ea22","type":"PROCESSOR","groupId":"5b271cbf-c338-33eb-aedd-0390ba43bb5a","name":"PutS3Object-StoreModelOutput","comments":"","instanceIdentifier":"18cb1d85-7c97-39f9-a641-bb54dc74c6a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"}],"labels":[{"identifier":"8bf8e4e0-c4b7-369b-88fd-9fbf3bfdcfdc","instanceIdentifier":"64a77edf-018c-1000-0000-000052a9234c","position":{"x":-112.0,"y":192.0},"label":"Provide custom instruction to go along with your input data. \nIt's pre-populated with text summarization example.","zIndex":0,"width":448.0,"height":208.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"6274010e-b651-39c0-835b-286f8ae40c1e","instanceIdentifier":"92184219-d8e3-3d60-87a0-94caf966b5a7","position":{"x":576.0,"y":1152.0},"label":"Get IAM token from IBM using your API Key","zIndex":0,"width":1056.0,"height":536.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"ec6a5863-0aa3-3123-acd9-45a388c599b9","instanceIdentifier":"b5f5308b-5d1b-1f96-b758-3c185e084ad5","position":{"x":-112.0,"y":504.0},"label":"Take actions to prepare input data for the model such as \nhandle new line characters, convert to JSON and so on.","zIndex":0,"width":448.0,"height":1104.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"c93c4c23-53db-348e-9ac0-c9d9fe9f9d33","instanceIdentifier":"c6d73db4-9ec3-1cab-89c4-0c2c9b9e61a5","position":{"x":616.0,"y":2448.0},"label":"Add output to S3.","zIndex":0,"width":432.0,"height":192.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"b667b059-8c1b-322d-a357-0de65ad363bf","instanceIdentifier":"b1c135e6-bc4d-15e5-b2e5-70a565951251","position":{"x":-112.0,"y":1696.0},"label":"Invoke watsonx.ai model","zIndex":0,"width":448.0,"height":208.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"ac07e0a3-97d3-3185-b989-0b9fd479791e","instanceIdentifier":"bc633a03-18fe-118b-91d4-175fffafc2f9","position":{"x":-112.0,"y":1992.0},"label":"Process model's output and convert it into simple \nJSON structure.","zIndex":0,"width":448.0,"height":648.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"a2b811dc-7268-3c59-9c8c-5f98b1a445c8","instanceIdentifier":"64a4d5fa-018c-1000-0000-00000308b79e","position":{"x":-112.0,"y":-296.0},"label":"Retrieve input files from S3.","zIndex":0,"width":448.0,"height":376.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"784223e0-0cf8-3042-8f95-05b44098559b","instanceIdentifier":"380c70ea-c758-3f9e-a474-5feb639d746a","position":{"x":472.0,"y":-296.0},"label":"To quickly get started, create a sample forest.txt file with following content and upload it to your AWS S3 bucket, to trigger this NiFi flow - \n---------------------------------------------------------------------------------------------------------------------------------------------------------------\nA forest is an area of land dominated by trees. Hundreds of definitions of forest are used throughout the world, incorporating factors \nsuch as tree density, tree height, land use, legal standing, and ecological function. The United Nations' Food and Agriculture Organization (FAO) \ndefines a forest as, Land spanning more than 0.5 hectares with trees higher than 5 meters and a canopy cover of more than 10 percent, \nor trees able to reach these thresholds in situ. It does not include land that is predominantly under agricultural or urban use.\n----------------------------------------------------------------------------------------------------------------------------------------------------------------","zIndex":0,"width":1040.0,"height":152.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"}],"funnels":[{"identifier":"dece487b-eec2-3fd2-b53b-9e8ce35725b1","instanceIdentifier":"4041ce87-45b5-3f90-9f72-549545f7c877","position":{"x":632.0,"y":1984.0},"componentType":"FUNNEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"f27bf722-9179-32c6-ad3b-cc9e1a8e41d8","instanceIdentifier":"88ef05a4-2988-3473-b232-469630074c79","position":{"x":-360.0,"y":1360.0},"componentType":"FUNNEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"6e48c3fd-fc60-3055-b862-22468ea274e3","instanceIdentifier":"b7d836df-95cc-3041-bc50-12ab69ab768f","position":{"x":1232.0,"y":1600.0},"componentType":"FUNNEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"3027ee74-1a94-3a04-bfab-5e35c84a2e78","instanceIdentifier":"4e2c9e65-38e3-35a2-b1ee-a0ff00e43105","position":{"x":1336.0,"y":2536.0},"componentType":"FUNNEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"},{"identifier":"8ed090f7-4adb-3873-b805-1dbd56e47497","instanceIdentifier":"f101c7cb-e1ca-366d-95fb-229f8898b473","position":{"x":512.0,"y":152.0},"componentType":"FUNNEL","groupIdentifier":"5b271cbf-c338-33eb-aedd-0390ba43bb5a"}],"controllerServices":[],"variables":{},"parameterContextName":"Cloudera_Watsonx_Param_Context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"Cloudera_Watsonx_Param_Context":{"name":"Cloudera_Watsonx_Param_Context","parameters":[{"name":"s3_output_path","description":"Output Directory. Eg: output","sensitive":false,"provided":false,"value":"output"},{"name":"s3_secret_access_key","description":"","sensitive":true,"provided":false},{"name":"model_input","description":"Define model's input body in JSON format in this parameter.\nDo not modify \"input\" attribute.\nproject_id - replace it with the IBM project you can access.\nmodel_id - use given granite model or pick any other one that's available in your IBM prompt lab.\nUpdate other attributes as necessary.","sensitive":false,"provided":false,"value":"{\n  \"model_id\": \"ibm/granite-13b-chat-v1\",\n  \"input\": \"${inputs}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 512,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"<ibm_project_id>\"\n}"},{"name":"ibm_api_key","description":"View ReadyFlow template documentation to know how to get the IBM API Key.","sensitive":false,"provided":false,"value":"<ibm_api_key>"},{"name":"s3_access_key","description":"","sensitive":true,"provided":false},{"name":"watsonx_model_url","description":"","sensitive":false,"provided":false,"value":"https://us-south.ml.cloud.ibm.com/ml/v1-beta/generation/text?version=2023-05-29"},{"name":"s3_input_path","description":"Input Directory. Eg: input","sensitive":false,"provided":false,"value":"input"},{"name":"s3_bucket","description":"AWS S3 Bucket. Eg: data","sensitive":false,"provided":false,"value":"data"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}